<% unless (invitation = report) %>
  This Invitation does not exist or you do not have authorization to view it.
<% else %>

  <% filtered = filters.present? ? "(FILTERED)" : "" %>

  <table cellspacing="0" class= "BreadnButter">
    <caption style="text-align:center">
      <h2>
        <%= h invitation['name'] %><br>
        <%= "Invitation Report by Email Address" %><br>
        <%= h "as of #{invitation['created_at']}" %>
      </h2>
      <div>
        <%= render :partial =>"reports/admin/invitations/registrations", :locals => {:regs => stats["registrations"]} %>
      </div>
      <% if entries.present? %>
        <h3>
          <%= "#{entries.count} Invitees Found" %>
        </h3>
      <% end %>
    </caption>
    <% if entries.present? && directives.present? %>
      <%= render :partial => "reports/admin/invitations/entries", :locals => {:entries => entries, :directives => directives} %>
    <% end %>
  </table>

<% end %>
<p>
  <%= "Report Generated #{filtered} on: #{Time.now.utc} for #{current_user.display_name}" %>
</p>


