<% content_tag_for :li, channel, :class => "share" do %>
  <%- if channel -%>
    <p>
      <%= check_box_tag("share[id][#{channel.id}]", channel.id) %>
      <%= link_to(label_tag("share[id][#{channel.id}]", "#{link_to(channel.name,channel_documents_path(channel.id))} (#{User.find(channel.owners).map(&:display_name).join(',')})"),channel_documents_path(channel.id)) %>
    </p>
    <%= link_to "Invite", new_channel_subscription_path(channel.id), {:class => "invis invite"} if channel.owners.include?(current_user) %>
    <%= link_to "Unsubscribe", unsubscribe_channel_path(channel.id), :class => "invis destroy unsubscribe" unless channel.owners.include?(current_user) %>
    <%= link_to "Delete Share", show_destroy_channel_path(channel.id), :class => "invis remove_share" if channel.owners.include?(current_user) %>
  <%- end -%>
<% end %>