<h1>Pending Role requests</h1>

<table>
  <tr>
    <th>Requester</th>
    <th>Role</th>
    <th>Jurisdiction</th>
  </tr>

<% @role_requests.each do |role_request| %>
  <tr class='pending_role_requests'>
    <td class='requester_email'><%= link_to role_request.user.email, user_profile_path(role_request.user) %></td>
    <td class='role'><%=h role_request.role.name %></td>
    <td class='jurisdiction'><%=h role_request.jurisdiction.name %></td>
    <td><a href='<%=deny_admin_role_request_path(role_request) %>' class='deny_link'>Deny</a> | <a href='<%=approve_admin_role_request_path(role_request) %>' class='approve_link'>Approve</a></td>
  </tr>
<% end %>
</table>

<br />
