<p>
  <b>Requester:</b>
  <%= link_to(@role_request.user.name, user_profile_path(@role_request.user)) %>
</p>

<p>
  <b>Role:</b>
  <%=h @role_request.role.name %>
</p>

<% if !@role_request.approver.blank? %>
<p>
  <b>Approver:</b>
  <%=h @role_request.approver.name %>
</p>
<% end %>

<%= link_to 'Approve Role', approve_admin_role_request_path(@role_request) %> or 
<%= link_to 'Deny Role', deny_admin_role_request_path(@role_request) %>
<br/><br/>
<%= link_to 'Assign New Role', role_assignments_path %>