<h2>Check if delayed_job is running</h2>

<%= form_for @test_message do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.submit "Send Email" %>
  </p>
<% end %>
