<%= content_tag_for :li, alert, :class => 'han_alert' do %>
  <div class="summary">
    <p class="title">
      <span class="title <%=h alert.severity.downcase %>"><%=h alert.title %></span>
    </p>
    <p class="meta">
      <span class="created_at">Posted at <%= alert.created_at.strftime("%B %d, %Y %I:%M %p %Z") %> <%= 'by '+link_to(h(alert.author.display_name), user_profile_path(alert.author)) unless alert.author.blank? || alert.author.display_name.blank? %></span>
      <%- if alert.status.blank? || alert.status.downcase != "actual" -%>
        <span class="status <%=h alert.status.downcase %>"><strong>Status:</strong> [<%=h alert.status.capitalize %>]</span>
      <%- end -%>
	  <span class="severity <%=h alert.severity %>"><strong>Severity:</strong> <%=h alert.severity %></span>
      <span class="from_jurisdiction"><strong>From:</strong> <%=h alert.sender %></span>
    </p>
  </div>
  <div class="extended preview">
    <div class="details">
      <p class="brief"><strong>Alert ID:</strong> <%=h alert.identifier %></p>

      <p class="brief sensitive"><strong>Sensitive:</strong> <%=h alert.sensitive? ? 'Yes' : 'No' %></p>
      <p class="brief acknowledge alertResponse"><strong>Acknowledge:</strong> <%=
        if alert.acknowledge?
          unless alert.alert_attempts.find_by_user_id(@user.id).nil?
            cdr = alert.alert_attempts.find_by_user_id(@user.id).call_down_response
            if alert.call_down_messages[cdr.to_s] == "Please press one to acknowledge this alert."
              alert.acknowledge? ? 'Yes' : 'No'
            else
              h(alert.call_down_messages[cdr.to_s])
            end if cdr
          end
        end
      %></p>


      <%- if !alert.original_alert_id.blank? -%>
        <p class="brief"><strong>Reference ID:</strong> <%=h alert.original_alert.identifier %></p>
      <%- end -%>
      <div class="message">
        <%=simple_format h(alert.message) %>
      </div>

      <p>
        <% if alert.acknowledge? && !alert.acknowledged_by_user?(@user) %>
          <% if alert.expired? %>
            Acknowledgement is no longer allowed for this Alert.
          <% elsif alert.call_down_messages["1"] == "Please press one to acknowledge this alert." %>
            <%= acknowledge_alert_button(alert) %>
          <% else %>
            <%= form_for :alert_attempt, :url=>acknowledge_han_alert_path(alert.id), :html => {:method => :put} do |form| %>
              <%= form.label "call_down_response", "Alert Response" %>
              <%= form.select("call_down_response", options_for_select(alert.call_down_messages.collect{|k,v|[v,k]}),{ :prompt => true }) %>
              <p><%= form.submit "Acknowledge" %></p>
            <% end %>
          <% end %>
        <% end %>
      </p>

    </div>
  </div>
<%- end -%>

