<p>
  TXPHIN brings together public health officials across the state of Texas in to an information network for public health.
  <%= link_to("Texas Department of State Health Services (DSHS)", "http://www.dshs.state.tx.us") %> commisions the use of
  TXPHIN to serve as an information platform to improve access and response to critical public health guideliness set by the
  <%= link_to("Centers for Disease Control (CDC)", "http://www.cdc.gov") %>.
</p>
<p>
  TXPHIN is powered by OpenPHIN which is an open source PHIN 2.0 compliant development system created by
  <%= link_to("The Texas Assocation of Local Health Officials (TALHO)", "http://www.talho.org") %>.  OpenPHIN meets and
  exceeds the current standards established by the <%= link_to("Centers for Disease Control (CDC)", "http://www.cdc.gov") %>
  for a PHIN 2.0 compliant system using the PCA 1.1 guidelines.  OpenPHIN received certification from the
  <%= link_to("CDC", "http://www.cdc.gov") %> for Direct Alerting on August 18, 2009.  OpenPHIN is
  currently in progress on receiving Cascade Alerting certification from the <%= link_to("CDC", "http://www.cdc.gov") %>.
</p>
<p>
  TXPHIN also makes use of the <%= link_to("CDC", "http://www.cdc.gov") %> sponsored
  <%= link_to("PHIN Messaging System (PHINMS)","http://www.cdc.gov/phin/activities/applications-services/phinms/") %>.
  <%= link_to("PHINMS","http://www.cdc.gov/phin/activities/applications-services/phinms/") %> handles the secure message
  transport for cascaded alerts from TXPHIN to <%= link_to("CDC", "http://www.cdc.gov") %> and other state public health partners.
</p>
<p>Copyright © 2009 OpenPHIN - All Rights Reserved</p>