<ul>
  <li<%= " class='current'" if request.request_uri==admin_role_requests_path %>><%= link_to "Pending Role Requests", admin_role_requests_path %></li>
  <li<%= " class='current'" if request.request_uri==new_role_assignment_path %>><%= link_to "Assign Roles", new_role_assignment_path %></li>
  <li<%= " class='current'" if request.request_uri==new_admin_user_path %>><%= link_to "Add a User", new_admin_user_path %></li>
</ul>