<ul>
  <li<%= tab_me hud_path %>><%= link_to(s('HAN Home'), hud_path) %></li>
<%- if current_user.alerter? -%>
  <li<%= tab_me new_alert_path %>><%= link_to(s('Send an Alert'), new_alert_path, :class => ".sendalert") %></li>
<%- end -%>
<%- if current_user.alerter? -%>
  <li<%= tab_me [alerts_path, { :action => "edit", :controller => "alerts"}] %>><%= link_to(s('View Alerts'), alerts_path, :class => '.viewalerts') %></li>
<%- end -%>
</ul>