<ul>
  <li<%= tab_me hud_path %>><%= link_to(s('My HAN Home'), hud_path) %></li>
<%- if current_user.alerter? -%>
  <li<%= tab_me [new_alert_path, {:action => "create", :controller => "alerts"}] %>><%= link_to(s('Send an Alert'), new_alert_path, :class => ".sendalert") %></li>
<%- end -%>
<%- if current_user.alerter? -%>
  <li<%= tab_me [{:action => "index", :controller => "alerts"}, { :action => "edit", :controller => "alerts"}] %>><%= link_to(s('Alert Log and Reporting'), alerts_path, :class => '.viewalerts') %></li>
<%- end -%>
</ul>