<ul>
  <li<%= " class=\"current\"" if controller.action_name == "index" && controller.controller_name == "rollcall" %>><%= link_to s("Main"), rollcall_path %></li>
  <% if current_user.roles.include?(Role.find_by_name("Rollcall")) %>
  <li<%= " class=\"current\"" if (controller.action_name == "index" || controller.action_name == "show") && controller.controller_name == "schools" %>><%= link_to s("School View"), schools_path %></li>
  <% end %>
  <li<%= " class='current'" if request.request_uri == about_rollcall_path%>><%= link_to "About Rollcall", about_rollcall_path %></li>
</ul>