<ul>
  <li><%= link_to(s('PHIN'), "#PHIN") %></li>
  <li><%= link_to(s('HAN'), "#HAN") %></li>
  <li><%= link_to(s('Documents Panel'), "#Documents") %></li>
  <li><%= link_to(s('Forums'), "#Forums") %></li>
  <li><%= link_to(s('Rollcall'), "#Rollcall") %></li>
</ul>
