<div class='rollcall_chart'>
  <div class='rollcall_chart_options'>
    <% form_tag rollcall_path do %>
      <%= label_tag :timespan, "Show last" %>
      <%= select_tag :timespan, options_for_select([7, 14, 21, 30, 60, 90],params[:timespan].to_i) %>
      <label>days of data</label>
      <%= submit_tag "Modify graph" %>
    <% end %>
  </div>
  <% cache(:key => ["district_chart", @districts.map(&:id).join(":"), params[:timespan]]) do %>
    <%= @chart %>
  <% end %>
</div>

<div class="rollcall_summary">
  <ul class="rollcall_summary">
    <% @districts.each do |district| %>
        <li class='district_summary'>
        <% cache(:key => ['school_district_summary', district.id, Date.today.strftime("%x")]) do %>
          <ul class="district">
            <li>
              <a class="district_name"><%= district.name %> <span class='expander'>&gt;&gt;</span></a>
              <ul class='schools'>
                <% district.schools.with_alerts.each do |school| %>
                  <li class="school">
                    <div class='school_head'>
                      <a class='school_name'><%= school.display_name %></a>
                      <%= image_tag("/stylesheets/images/status_extreme.png", :class => 'severity') unless school.absentee_reports.for_date_range(30.days.ago, Date.today).with_severity(:high).empty? %>
                      <%= image_tag( "/stylesheets/images/status_severe.png", :class => 'severity') unless school.absentee_reports.for_date_range(30.days.ago, Date.today).with_severity(:medium).empty? %>
                      <%= image_tag( "/stylesheets/images/status_moderate.png", :class => 'severity') unless school.absentee_reports.for_date_range(30.days.ago, Date.today).with_severity(:low).empty? %>

                    </div>
                    <ul class='school_alerts'>
                      <% school.absentee_reports.for_date_range(30.days.ago, Date.today).recent_alerts_by_severity(4).each do |report| %>
                        <li class='school_alert <%= report.severity %>'>
                          <%= image_tag("/stylesheets/images/status_extreme.png",   :class => 'severity') if report.severity == "high" %>
                          <%= image_tag( "/stylesheets/images/status_severe.png",   :class => 'severity') if report.severity == "medium" %>
                          <%= image_tag( "/stylesheets/images/status_moderate.png", :class => 'severity') if report.severity == "low" %>
                          <span><%= report.report_date.strftime("%m/%d") %></span> -
                          <span class="absence"><%= report.absentee_percentage %>%</span></li>
                      <% end %>
                    </ul>
                    <span class='more'><%= link_to "More info...", school %></span>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <% end %>
        </li>
      </ul>
      </li>
    <% end %>
    </ul>
    </div>

