<div class='rollcall_chart'>
  <div class='rollcall_chart_options'>
    <% form_tag rollcall_path do %>
      <%= label_tag :timespan, "Show last" %>
      <%= select_tag :timespan, options_for_select([7, 14, 21, 30, 60, 90]) %>
      <label>days of data</label>
      <%= submit_tag "Modify graph" %>
    <% end %>
  </div>
  <%= image_tag @chart %>
</div>

<div class="rollcall_summary">
  <ul class="rollcall_summary">
    <% @statistics.each do |district, schools| %>
      <li class='district_summary'>

        <ul class="district">

          <li>
            <a class="district_name"><%= district %> <span class='expander'>&gt;&gt;</span></a>
            <ul class='schools'>
              <% schools.each do |school, reports| %>
                <li class="school">
                  <div class='school_head'>
                    <a class='school_name'><%= school %></a>
                    <%= image_tag("/stylesheets/images/status_extreme.png", :class => 'severity') if reports.detect{|r| r.severity == "high"} %>
                    <%= image_tag( "/stylesheets/images/status_severe.png", :class => 'severity') if reports.detect{|r| r.severity == "medium"} %>
                    <%= image_tag( "/stylesheets/images/status_moderate.png", :class => 'severity') if reports.detect{|r| r.severity == "low"} %>

                  </div>
                  <ul class='school_alerts'>
                    <% reports.each do |report| %>
                      <li class='school_alert <%= report.severity %>'>
                        <%= image_tag("/stylesheets/images/status_extreme.png",   :class => 'severity') if report.severity == "high"   %>
                        <%= image_tag( "/stylesheets/images/status_severe.png",   :class => 'severity') if report.severity == "medium" %>
                        <%= image_tag( "/stylesheets/images/status_moderate.png", :class => 'severity') if report.severity == "low"    %>
                        <span><%= report.report_date.strftime("%m/%d") %></span> -
                        <span class="absence"><%= report.absentee_percentage %>%</span></li>
                    <% end %>
                  </ul>
                  <span class='more'><%= link_to "More info...", school %></span>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
      </ul>
      </li>
    <% end %>
    </ul>
    </div>

