<div id="feature">
  <h2>Public Health Information Network</h2>
</div>
<div class="details">
  <p class="texas_dshs"><a href="http://www.dshs.state.tx.us/" target="_blank">Texas DSHS</a></p>
  <p>The Texas Public Health Information Network (PHIN) is an online portal containing a collection of applications which provide users with a range of functions to carry out public health preparedness goals and duties.
    <a href="/tutorials/Registering_and_Navigating_The_PHIN_-_Manual.pdf">Click here</a> for a tutorial on registering and navigating the PHIN, and <%= link_to "here", "/tutorials/Health_Alert_Network_Training_-_Manual.pdf" %> for Health Alert Network (HAN) training.</p>
  <p>To learn more about TXPHIN, please visit <%= link_to "About TXPHIN", about_path %></p>
</div>

<div class="aside">
  <h2>Sign In to Your Account</h2>
  <div class="t_boot">
    <% form_for :session, :url => session_index_path, :html => {:id => 'sign_in_form', :class => "form-stacked"} do |form| %>
      <div class="well">
        <div>
          <%= form.label :email %>
          <%= form.text_field :email, :value => flash[:email_address], :style => 'width: 160px;', :size => "25" %>
        </div>
        <div>
          <%= form.label :password %>
          <%= form.password_field :password, :style => 'width: 160px;', :size => "25" %>
        </div>
        <ul class="inputs-list">
          <li>
            <label for="session_remember_me">
              <%= form.check_box :remember_me %>
              <%= form.label :remember_me %>
            </label>
          </li>
        </ul>
        <div>
          <%= link_to "Forgot password?", new_password_path %>
        </div>
        <span class="help-block">
          <strong>Need an account?</strong> <%= link_to "Sign up", new_user_path %>.
        </span>
      </div>
      <div>
        <%= form.submit "Sign in", :disable_with => "Please wait...", :class => "btn primary large" %>
      </div>
    <% end %>
  </div>
  <ul id="associations">
  </ul>
</div>