<style>
  .masthead{
    margin: 20px auto;
    text-align: center;
  }
  
  .details{
    padding: 20px;
  }
</style>

<div class="masthead">
  <img src="<%= current_app.logo.url %>">
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 details">
      <%= raw(current_app.login_text) %>
    </div>
    
    <div class="aside span3">
      <h2>Sign In to Your Account</h2>
      <div>
        <%= form_for :session, :url => sessions_path, :html => {:id => 'sign_in_form', :class => "form-stacked"} do |form| %>
          <div class="well">
            <div>
              <%= form.label :email %>
              <%= form.text_field :email, :value => flash[:email_address], :style => 'width: 160px;', :size => "25" %>
            </div>
            <div>
              <%= form.label :password %>
              <%= form.password_field :password, :style => 'width: 160px;', :size => "25" %>
            </div>
            <label for="session_remember_me" class="checkbox">
              <%= form.check_box :remember_me %> Remember Me
            </label>
            <div>
              <%= link_to "Forgot password?", new_password_path %>
            </div>
            <span class="help-block">
              <strong>Need an account?</strong> <%= link_to "Sign up", new_user_path %>.
            </span>
          </div>
          <div>
            <%= form.submit "Sign in", 'data-disable-with' => "Please wait...", :class => "btn btn-primary btn-large"  %>
          </div>
        <% end %>
      </div>
      <ul id="associations">
      </ul>
    </div>
  </div>
</div>


