<div id="feature">
  <h2>Public Health Information Network</h2>
</div>
<div class="details">
  <p class="texas_dshs"><a href="http://www.dshs.state.tx.us/" target="_blank">Texas DSHS</a></p>
  <p><strong>PHIN</strong> stands for <strong>Public Health Information Network</strong>. PHIN is a broad concept and collection of functions created by the Center for Disease Control. The implementation of the web-based portal allows the state of Texas to consolidate the many applications that serve PHIN goals. To learn more about the PHIN, visit CDC’s PHIN homepage.</p>
  <p>To learn more about TXPHIN, please visit <%= link_to "About TXPHIN", about_path %></p>
</div>

<div class="aside">
  <h2>Sign In to Your Account</h2>

  <% form_for :session, :url => session_path, :html => {:id => 'sign_in_form'} do |form| %>
    <p class="text_field">
      <%= form.label :email %>
      <%= form.text_field :email, :value => flash[:email_address] %>  
    </p>
    <p class="text_field">
      <%= form.label :password %>
      <%= form.password_field :password %>
      <%= link_to "Forgot password?", new_password_path %>
    </p>
    <p class="checkbox_field">
      <%= form.check_box :remember_me %>
      <%= form.label :remember_me %>
    </p>
    <p class="submit_field">
      <%= form.submit "Sign in", :disable_with => "Please wait..." %>
      Need an account? <%= link_to "Sign up", new_user_path %>.
    </p>
  <% end %>
  <ul id="associations">
  </ul>
</div>