<div class="fields">
  <p>
    <%= f.label "Topic" %>
    <%= link_to_remove_fields "remove", f %><br />
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br />
    <%= f.label :content, "Description" %>
    <%= f.text_area :content, :rows => 6 %>
    <%= f.hidden_field :poster_id, :value => current_user.id %>
  </p>
  <% f.fields_for :comments do |builder| %>
    <%= render 'topics/comment_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Comment", f, :comments %></p>
</div>