<h2>Editing forum</h2>
<p>
  <%= link_to "Forums", forums_path %>
</p>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>
   <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size=> 72 %>
  </p>
  <p>
    <% for_moderators_of @forum do -%>
      <%= f.check_box :hide %> <%= f.label :hide %>
    <% end -%>
  </p>
   <div id="edit">
     <div id="audience" class="form_audience">
       <% f.object.build_audience if f.object.audience.nil? %>
       <% f.fields_for :audience do |audience| %>
         <% unless audience.object.is_a?(Group) %>
           <%= render 'audiences/fields', :form => audience, :group_form => f %>
         <% end %>
         <%= audience.hidden_field :lock_version %>
       <% end %>
     </div>
    </div>
  <p>
    <%= f.hidden_field :lock_version %>
    <%= f.submit 'Update' %>
  </p>
<% end %>

