<style type="text/css"> a.forum_hidden {color:#ccc} </style>

<h2>Forums</h2>
<% for_moderators_of Forum  do -%>
  <p>
    <%= link_to image_tag("add.png"), new_forum_path %>
    <%= link_to "Add Forum", new_forum_path %>
  </p>
<% end %>

<ul class="forums data-list">
  <% for forum in @forums %>
    <li class="forum">
      <%= link_to( h(forum.name), forum_topics_path(forum), (forum.hidden_at ? {:class=>"forum_hidden"} : {})) %>
      <% for_moderators_of forum  do -%>
        <%= link_to image_tag("pencil.png", :title => "Edit"), edit_forum_path(forum) %>
      <% end %>
      <br />
      <% if (topic_last = forum.topics.unhidden(current_user.is_super_admin?).recent(1).first) %>
        <div class="forum_sub">
          <%= "Lastest Topic: #{link_to h(topic_last.name),forum_topic_path(forum,topic_last)} by #{link_if_public topic_last.poster}"-%>
        </div> 
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate @forums %>
