<p>
  <b>Requester:</b>
  <%= link_to("mailto:#{@request.user.email}", user_profile_path(@request.user)) %>
</p>

<p>
  <b>Organization:</b>
  <%= link_to(@request.organization.name, organization_path(@request.organization)) %>
</p>

<% unless @request.approver.blank? %>
<p>
  <b>Approver:</b>
  <%=h @request.approver.display_name %>
</p>
<% end %>

<%= link_to 'Approve', approve_admin_organization_membership_request_path(@request) %> or
<%= link_to 'Deny', deny_admin_organization_membership_request_path(@request) %>
