<% form_for(@phin_person) do |f| %>
  <%= f.error_messages %><br/>
  <%= f.label(:first_name, "First Name") %><br/>
  <%= f.text_field(:first_name) %><br/>
  <%= f.label(:last_name, "Last Name") %><br/>
  <%= f.text_field(:last_name) %><br/>
  <%= f.label(:display_name, "Preferred name to be displayed") %><br/>
  <%= f.text_field(:display_name) %><br/>
  <%= f.label(:description, "Description of person") %><br/>
  <%= f.text_field(:description) %><br/>
  <%= f.label(:email, "E-mail address") %><br/>
  <%= f.text_field(:email) %><br/>
  <%= f.label(:preferred_language, "Preferred lanaguage") %><br/>
  <%= f.select(:preferred_language, ["English","Spanish"]) %><br/>
  <%= f.label(:title, "Job title") %><br/>
  <%= f.text_field(:title) %><br/>
    <div>
  <%= f.label(:roles, "Roles") %><br/>
  <%= select_tag "phin_roles_select", options_from_collection_for_select(PhinRole.all, :id, :name) %>
  <%= button_to_function 'Request Role', "jsAddRole()" %>
      </div>
  <div id="phin_role_list">
    <ul>
      <%= javascript_tag "var role_ct=#{@phin_person.phin_roles.length};" %>
      <% @phin_person.phin_roles.each_with_index do |role, role_index| %>
          <% fields_for("phin_roles[#{role_index}]") do |role_fields| %>
            <li id="phin_roles_<%= role_index %>"><%= role_fields.hidden_field :id, :value => role.id, :role_arr_id => role_index %><%= role.name %><%= link_to_function "Remove", "remove_role(#{role_index})" %>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>