<h1>Editing phin_jurisdiction</h1>

<% form_for(@phin_jurisdiction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= render :partial => 'form', :locals => {:f => f}  %>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @phin_jurisdiction %> |
<%= link_to 'Back', phin_jurisdictions_path %>