<h1>Listing phin_jurisdictions</h1>

<table>
  <tr>
  </tr>

<% @phin_jurisdictions.each do |phin_jurisdiction| %>
  <tr>
    <td><%= phin_jurisdiction.name %></td>
    <td><%= link_to 'Show', phin_jurisdiction %></td>
    <td><%= link_to 'Edit', edit_phin_jurisdiction_path(phin_jurisdiction) %></td>
    <td><%= link_to 'Destroy', phin_jurisdiction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New phin_jurisdiction', new_phin_jurisdiction_path %>