<% filtered = filters.present? ? "(FILTERED)" : "" %>

  <table cellspacing="0" class="BreadnButter">
    <caption style="text-align:center">
      <%= "Users #{filtered} as of #{report['created_at']}" %>
    </caption>
    <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Roles
      </th>
    </tr>
    </thead>
    <div class="nobreak">
      <% entries.each_with_index do |user,i| %>
        <tr class="<%= (i%2 > 0) ? 'Odd' : 'Even' %>">
          <td>
            <%=  user["display_name"] %>
          </td>
          <td>
            <%=  user["email"] %>
          </td>
          <td>
            <%=  to_rpt(user["role_memberships"]) %>
          </td>
        </tr>
      <% end %>
    </div>
  </table>
<p>
  <%= "Report Generated #{filtered} on: #{Time.now.utc} for #{current_user.display_name}" %>
</p>
