<fieldset class="filterable list folders">
  <legend>Select Folder</legend>
  <ul class="check_selector">
    <li class="inbox">
      <%= link_to 'Inbox',folder_inbox_path %>
    </li>
    <li>
      Shares
      <%- form_for :channels do |f| -%>
        <%- @shares.each do |c| -%>
          <li class="share">
            <%= f.label :name, c.name, :style => "display: none;" %>
            <%= f.check_box(:name, {}, c.id) %>
            <%= link_to c.name,"#{channel_documents_path(c.id)}" %>
            <%= "(#{User.find(c.owners).map(&:display_name).join(",")})" %>
            <%= link_to "Invite", new_channel_subscription_path(c.id) if c.owners.include?(current_user) %>
            <%= link_to "Unsubscribe", unsubscribe_channel_path(c.id), :class => "destroy" unless c.owners.include?(current_user) %>
            <%= link_to "Delete Share", show_destroy_channel_path(c.id) if c.owners.include?(current_user) %>
          </li>
        <%- end -%>
      <%- end -%>
    </li>
    <li>
      Folders
      <%= render :partial => "folders/folder", :collection => @folders, :as => :folder %>
    </li>
  </ul>
</fieldset>