<%- unless @parent_folder.id.blank? -%>
  <div id="new_document_folder_container">
  <%- form_for @folder do |f| -%>
    <%= f.label :name, "Folder Name", :for => "folder_document_name" %>
    <%= f.text_field :name, :size => 18, :id => 'folder_document_name' %>
    <%= f.hidden_field :parent_id, :value => @parent_folder.id if @parent_folder && @parent_folder.id %>
    <%= f.submit "Create Folder" %>
  <%- end -%>
</div>
<%- else -%>
  <div id="new_media_folder_container">
  <%- form_for @folder do |f| -%>
    <%= f.label :name, "Folder Name", :for => "folder_media_name" %>
    <%= f.text_field :name, :size => 18, :id => "folder_media_name"%>
    <%= f.hidden_field :parent_id, :value => @parent_folder.id if @parent_folder && @parent_folder.id %>
    <%= f.submit "Create Folder" %>
  <%- end -%>
</div>
<%- end -%>
