<h2>Editing topic</h2>

<p class="forum breadcrumb">
<%= link_to "Forums", forums_path %> ><%= link_to "Topics", forum_topics_path %> > <%= @topic.name %>
</p>

<fieldset class="topic">
  <legend>Editing Topic</legend>
  <% form_for :topic, :url=>forum_topic_path(@forum,@topic), :html => { :method => :put } do |f| %>
    <%= f.error_messages %>
    <p>
    <%= render 'topic_fields', :f => f %>
    </p>
    <p>
    <% for_super_admin do -%>
      <p>
        <%= f.check_box :sticky %> <%= f.label :sticky %>
        <%= f.check_box :hide %> <%= f.label :hide %>
        <%= f.check_box :locked? %> <%= f.label :closed %>
      </p>
      <p>
      <%= f.label :dest_forum_id, "Forum to be moved to" %>
      <% selectable_forums = Forum.find(:all,:conditions => ["id NOT IN (?)", [@forum.id]]) %>
      <%  unless selectable_forums.blank? %>
        <%= select(:topic, :dest_forum_id, 
            selectable_forums.map{|u| [u.name,u.id]},{ :selected => nil, :include_blank => true }) -%>
      <% end %>
      </p>     
    <% end -%>
    </p><br />
    <p>
      <%= f.hidden_field :lock_version %>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</fieldset>

<h2>Edit these Comments</h2>

<fieldset class="comments">
  <legend>Edit Comments</legend>
  <ul class="comments data-list">
  <% form_for @topic, :url => update_comments_forum_topic_path(@forum,@topic) do |f| %>
    <%= f.error_messages %>
  
    <% @topic.comments.each do |comment| %>
      <li>
        <%= "#{link_if_public comment.poster} - #{time_ago_in_words(comment.updated_at)} ago" -%><br />
        <%=textilize_without_paragraph comment.content %>
        <% for_moderators_of comment do -%>
          <% f.fields_for "comments[]",comment do |comment_form| %>
           <div class="edit_comment">
             <%= check_box_tag "comment_ids[]", comment.id %> <%= label_tag "comment_ids[]", "Update this" %>
             <% for_super_admin do %>
               <%= check_box_tag "delete_comment_ids[]", comment.id %> <%= label_tag "delete_comment_ids[]", "Delete this" %>
             <% end %>
            <%= render 'edit_comment_fields', :f => comment_form %>
            <%= comment_form.hidden_field :lock_version %>
          </div>
          <% end %>
        <% end -%>
      </li>
    <% end %>
    <p>
      <%= f.submit "Update Comment" %>
    </p>
  <% end %>
  </ul>
</fieldset>


