<h1><%= @forum.name %></h1>  
<p>
<%= link_to "Forums", forums_path %> > <%= @forum.name %>
</p>
<p>
  <% form_for @forum do |f| %>
    <%= f.error_messages %>
    <% f.fields_for "topics_attributes" do |t| %>
      <%= t.hidden_field :forum_id, :value => @forum.id -%>
      <div class="topics_attributes">
        <%= render 'topic_fields', :f => t %>
      </div>
    <% end %> 
    <p><%= f.submit "Add Topic" %></p>
  <% end %>
</p>
<ul>
  <% @topics.each_with_index do |topic,idx| %>
    <li id="topic_name_<%= idx %>" class="topic_name">
      <%= link_to h(topic.name), forum_topic_path(@forum,topic) %>
      <% for_moderators_of topic do -%>
        <%= link_to 'Edit', edit_forum_topic_path(@forum,topic) %>
      <% end -%>
      <% for_super_admin do -%>
          <%= link_to 'Remove', forum_topic_path(@forum,topic), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end -%>
      <br />
      Started by <%=h topic.poster.name %> on <%= topic.created_at -%>
      <br />
      <% unless (comments_last = topic.comments.distinct_poster.recent(2)).blank? %>
        Recent commenters: <%= comments_last.collect(&:poster).collect(&:name).join(", ") -%>
      <% end %>
    </li>
    <br />
  <% end %>
</ul>

