<h1><%= @forum.name %></h1>
  
<p class="forum breadcrumb">
  <%= link_to "Forums", forums_path %> > <%= @forum.name %><br />
</p>

<div class="topic">
  <div class="new_topic">
    <% form_for @forum do |f| %>
      <%= f.error_messages %>
      <% f.fields_for "topic_attributes" do |t| %>
        <p>
          <%= render 'topic_fields', :f => t %>
        </p>
        <%= t.hidden_field :poster_id, :value => current_user.id %>
      <% end %>
      <p><%= f.submit "Add Topic" %></p>
    <% end %>
  </div>
  <% unless @topics.blank? %>
  <table class="topics data-list">
    <caption><%= @forum.name %></caption>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Topic Name</th>
        <th scope="col">Posted By</th>
        <th scope="col">Recent Comments</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row" colspan="7"><%= will_paginate @topics %></th>
      </tr>
    </tfoot>
    <tbody>
      <% @topics.each_with_index do |topic,idx| %>
        <tr id="topic_name_<%= idx+1 %>" >
          <td scope="row">
            <% for_moderators_of topic do -%>
              <%= link_to image_tag("pencil.png", :alt => "edit_topic_#{idx+1}"), edit_forum_topic_path(@forum,topic), { :title => "Edit" } %>
            <% end -%>
            <% for_super_admin do -%>
                <%= link_to image_tag("cross-circle.png", :title => "Remove"), forum_topic_path(@forum,topic), :confirm => 'Are you sure?', :method => :delete %>
            <% end -%>
          </td>
          <td>
            <%= image_tag("yellow_thumbtack.png",:title=>"Sticky") if topic.sticky==1 %>
            <%= link_to h(truncate(topic.name, :length => 30)), forum_topic_path(@forum,topic) %>
          </td>
          <td class="posted_by">
            <%= "#{link_if_public topic.poster} - #{time_ago_in_words(topic.updated_at)} ago" -%>
          </td>
          <td>
             <% unless (comments_last = topic.comments.distinct_poster.recent(2)).blank? %>
              <%= link_if_public comments_last[0].poster if comments_last[0] -%>
              <%= link_if_public comments_last[1].poster if comments_last[1] -%>
            <% end %>
          </td>
          <td><%= topic.created_at.strftime("%B %d, %Y %I:%M %p") %></td>
          <td><%= topic.updated_at.strftime("%B %d, %Y %I:%M %p") %></td>
          <td><%= "Posts: #{topic.comments.length}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>This forum is empty, click "New Topic" to start a new topic.</p>
  <% end %>
</div>
