<h2>Topic: <%= @topic.name %></h2>

<p class="forum breadcrumb">
  <%= link_to "Forums", forums_path %> ><%= link_to "Topics", forum_topics_path %> > <%= @topic.name %>
</p>

<p><%= @topic.content %></p>

<p>
  <%= link_to image_tag("add.png"), :anchor => "add_comment" %>
  <%= link_to "Add Comment", :anchor => "add_comment" %>
</p>

<ul class="comments data-list">
  <% @topic.comments.each do |comment| %>
    <li>
      <%= "#{link_if_public comment.poster} - #{time_ago_in_words(comment.updated_at)} ago" -%><br />
      <%=textilize_without_paragraph comment.content %>
    </li>
  <% end %>
</ul>
 
<% form_for @topic, :url => forum_topic_path(@forum,@topic), :html => {:method => :put } do |f| %>
  <%= f.error_messages %>
  <% f.fields_for :comment_attributes do |comment_form| %>
  <%= render 'edit_comment_fields', :f => comment_form %>
  <%= comment_form.hidden_field :name, :value => Time.now %>  
  <%= comment_form.hidden_field :forum_id, :value => @forum.id -%>
  <%= comment_form.hidden_field :poster_id, :value => current_user.id -%>
  <% end %> 
  <p><%= f.submit "Add Comment" %></p>
<% end %>


