<h2>Topic: <%= @topic.name %></h2>
<p>
  <%= link_to "Forums", forums_path %> ><%= link_to "Topics", forum_topics_path %> > <%= @topic.name %>
</p>
<p><%= @topic.content %></p>

<p>
  <%= link_to "Add Comment", :anchor => "add_comment" %>
</p>

<% unless @topic.comments.empty? %>
  <% @topic.comments.each do |comment| %>
    <p>
      <%= link_if_public comment.poster -%><%= " - #{time_ago_in_words(comment.updated_at)} ago" -%>
      <%=textilize comment.content %>
    </p>
    <% for_moderators_of comment do -%>
    <% end -%>
  <% end %>
<% end %>
 
<% form_for @topic, :url => forum_topic_path(@forum,@topic), :html => {:method => :put } do |f| %>
  <%= f.error_messages %>
  <% f.fields_for :comment_attributes do |comment_form| %>
    <%= comment_form.hidden_field :forum_id, :value => @forum.id -%>
    <%= render 'comment_fields', :f => comment_form %>
  <% end %> 
  <p><%= f.submit "Add Comment" %></p>
<% end %>


