
<div class='profile_edit'>
<% form_for(user) do |form| %>
  <%= render :partial => "users/user_account_form", :locals => { :form => "form" } %>
  
  <% user.role_requests.build if user.role_requests.empty? %>
  <% form.fields_for :role_requests do |r| %>
    <%= r.label :jurisdiction_id,  "What County are you in?" %><br/>
    <%= r.select( :jurisdiction_id, nested_set_options(Jurisdiction)  {|i| "#{'–' * i.level} #{i.name}" }) %><br/>
    <%= label_tag "health_professional", "Are you a public health professional?" %>
    <%= check_box_tag "health_professional", 1, params[:health_professional] %>
    <fieldset id='health_professional_fields'>
      <legend>Health Professional Information</legend>
      <%= r.label :role_id, "What is your primary role within the health department?" %><br/>
      <%= r.collection_select :role_id, Role.user_roles, :id, :name, :include_blank => true %><br/>
      <%= label_tag "user_organizations", "Are you with any of these organizations?" %>
      <%= select_tag "user[organization_ids][]", options_from_collection_for_select(Organization.all.dup.unshift(Organization.new), :id, :name), :id => "user_organizations" %>
    </fieldset>
  <% end %>
  <p>
    <%= form.submit 'Save' %>
  </p>
<% end %>
</div>