<% form_for(@user) do |f| %>
  <%= f.error_messages %><br/>
  <%= f.label(:first_name, "First Name") %><br/>
  <%= f.text_field(:first_name) %><br/>
  <%= f.label(:last_name, "Last Name") %><br/>
  <%= f.text_field(:last_name) %><br/>
  <%= f.label(:display_name, "Preferred name to be displayed") %><br/>
  <%= f.text_field(:display_name) %><br/>
  <%= f.label(:description, "Description of person") %><br/>
  <%= f.text_field(:description) %><br/>
  <%= f.label(:email, "E-mail address") %><br/>
  <%= f.text_field(:email) %><br/>
  <%= f.label(:password, "Password") %><br/>
  <%= f.password_field(:password) %><br/>
  <%= f.label(:password_confirmation,"Password Confirmation") %><br/>
  <%= f.password_field(:password_confirmation) %><br/>


  <%= f.label(:preferred_language, "Preferred language") %><br/>
  <%= f.select(:preferred_language, ["English","Spanish"]) %><br/>
  <%= f.label(:title, "Job title") %><br/>
  <%= f.text_field(:title) %><br/>
  
  <% fields_for :role_membership, RoleMembership.new do |r| %>
    <%= r.label :jurisdiction_id,  "What County are you in?" %><br/>
    <%= r.collection_select :jurisdiction_id, Jurisdiction.all, :id, :name, :include_blank => true %><br/>
  <% end %>
  <div id="role_list">
    <ul>
      <%= javascript_tag "var role_ct=#{@user.roles.length};" %>
      <% @user.role_memberships.each_with_index do |role, role_index| %>
          <% fields_for("roles[#{role_index}]") do |role_fields| %>
            <li id="roles_<%= role_index %>">
              <%= role_fields.hidden_field :id, :value => role.id, :role_arr_id => role_index %>
              <%= role_fields.hidden_field :role_id, :value => role.role.id, :role_arr_id => role_index %>
              <%= role_fields.hidden_field :jurisdiction_id, :value => role.jurisdiction ? role.jurisdiction.id : nil,
                                           :role_arr_id => role_index %>              
              <%= role.role.name %> <%= "(#{role.jurisdiction.name})" if role.jurisdiction %>
              <%= link_to_function "Remove", "remove_role(#{role_index})" %>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>