<% form_for(@user) do |f| %>
  <%= f.error_messages %><br/>
  <%= f.label(:first_name, "First Name") %><br/>
  <%= f.text_field(:first_name) %><br/>
  <%= f.label(:last_name, "Last Name") %><br/>
  <%= f.text_field(:last_name) %><br/>
  <%= f.label(:display_name, "Preferred name to be displayed") %><br/>
  <%= f.text_field(:display_name) %><br/>
  <%= f.label(:description, "Description of person") %><br/>
  <%= f.text_field(:description) %><br/>
  <%= f.label(:email, "Email address") %><br/>
  <%= f.text_field(:email) %><br/>
  <%= f.label(:password, "Password") %><br/>
  <%= f.password_field(:password) %><br/>
  <%= f.label(:password_confirmation,"Password Confirmation") %><br/>
  <%= f.password_field(:password_confirmation) %><br/>


  <%= f.label(:preferred_language, "Preferred language") %><br/>
  <%= f.select(:preferred_language, ["English","Spanish"]) %><br/>
  <%= f.label(:title, "Job title") %><br/>
  <%= f.text_field(:title) %><br/>
  
  <% user.role_requests.build if user.role_requests.empty? %>
  <% f.fields_for :role_requests do |r| %>
    <%= r.label :jurisdiction_id,  "What County are you in?" %><br/>
    <%= r.collection_select :jurisdiction_id, Jurisdiction.all, :id, :name, :include_blank => true %><br/>
    <%= label_tag "health_professional", "Are you a public health professional?" %>
    <%= check_box_tag "health_professional" %> 
    <div class='health'>
      <%= r.label :role_id, "What is your role within the health department?" %><br/>
      <%= r.collection_select :role_id, Role.all, :id, :name, :include_blank => true %><br/>
      <%= label_tag "user_organizations", "Are you with any of these organizations?" %>
      <%= select_tag "user[organization_ids][]", options_from_collection_for_select(Organization.all.dup.unshift(Organization.new), :id, :name), :id => "user_organizations" %>
    </div>
  <% end %>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>