<h3><%=@user.display_name %></h3>
<%= link_to "Public Profile", user_profile_path(@user) if @user.public %>
<div>
  <b>Description</b>: <%= @user.description %>
</div>
<div>
  <b>Real Name</b>: <%= @user.last_name  %>, <%= @user.first_name %>

</div>
<div>
  <b>Title</b>: <%= @user.title %>
</div>
<div>
  <b>Email Address</b> <%= link_to @user.email, "mailto:#{@user.email}" %>
</div>
<div>
  <b>Preferred Language</b>: <%= @user.preferred_language %>
</div>
<div>
  <h4>Roles</h4>
  <ul>
    <% @user.roles.each do |role| %>
        <li><%=role.name %></li>
    <% end %>
  </ul>
</div>
<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>