<div class="school_data">
  <h2 class='school'><%= @school.display_name %></h2>

  <div class='rollcall_chart_options'>
    <% form_tag school_path(@school), :method => :get do %>
      <%= label_tag :timespan, "Show last" %>
      <%= select_tag :timespan, options_for_select([7, 14, 21, 30, 60, 90]) %>
      <label>days of data</label>
      <%= submit_tag "Modify graph" %>
    <% end %>
  </div>
  <div class='rollcall_graph'>
    <%= @chart %>
  </div>
</div>