<div class="school_selection">
  <% form_for :schools, @school, :url => school_school_district_path(@district) do |form| %>
    <%= label_tag "district_id", "District" %>
    <%= collection_select(:district, :id, current_user.school_districts, :id, :name, :selected => @district.id) %>
    <%= label_tag "school_id", "School" %>
    <% cache(:key => ["school_select", @district.id]) do %>
      <%= collection_select(:school, :id, @district.schools, :id, :display_name, {:include_blank => true, :selected => @school.id}) %>
    <% end %>
    <%= submit_tag "Choose" %>
  <% end %>
</div>
<%= render "absenteeism" %>