<%- group_form ||= false -%>

<fieldset class="filterable list jurisdictions">
  <legend>Jurisdictions</legend>
  <%= jurisdiction_list(form) %>
</fieldset>
<fieldset class="filterable list roles">
  <legend>Limit Roles</legend>
  <ul class="check_selector">
    <%- roles = (current_user.is_admin? ? Role.all : Role.user_roles) -%>
    <%- roles.each do |r| -%>
      <li>
        <%- id = [form.object_name.parameterize('_'), dom_id(r)].join('_') -%>
        <%= check_box_tag "#{form.object_name}[role_ids][]", r.id,
            form.object.role_ids.include?(r.id), :id => id, :class => 'audience_role' %>
        <%= label_tag id, r.name %>
      </li>
    <%- end -%>
  </ul>
</fieldset>

<%- if group_form -%>
  <fieldset class="filterable list last groups organization">
    <legend><span class="group_color"></span> Groups / <span class="org_color"></span>  Organizations</legend>
    <ul class="check_selector">
      <%- (current_user.visible_groups | Organization.non_foreign.map(&:group)).flatten.compact.each do |group| -%>
        <li class="<%= group.scope == "Organization" ? "org_color" : "group_color" %>">
            <%= check_box_tag "#{group_form.object_name}[audience_ids][]", group.id,
                group_form.object.audiences.include?(group),
                :id => "#{group_form.object_name}_audience_#{group.id}", :class => 'audience_group' %>
            <%= label_tag "#{group_form.object_name}_audience_#{group.id}", group.name %>
        </li>
      <%- end -%>
    </ul>
  </fieldset>
<%- end -%>

<fieldset class="people">
  <legend>People</legend>
  <%= label_tag 'Add'%>
  <%= form.select :user_ids, form.object.users.map{|u| [u.name, u.id]}, {}, :multiple => :multiple, :class => "search_user_ids" %><br/>

</fieldset>
