<h1>Editing user_profile</h1>

<% form_for(@user_profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </p>
  <p>
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :credentials %><br />
    <%= f.text_area :credentials %>
  </p>
  <p>
    <%= f.label :employer %><br />
    <%= f.text_field :employer %>
  </p>
  <p>
    <%= f.label :experience %><br />
    <%= f.text_area :experience %>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_profile %> |
<%= link_to 'Back', user_profiles_path %>