<script type='text/javascript'>var DEVICE_POST_URL = "<%= user_devices_path(@user) %>"</script>

<div class="profile_edit">
  <% form_for @user, :url => user_profile_path(@user), :html => {:multipart => true} do |form| %>
  <div class="details">
    <h2>Editing this Profile</h2>
      <%= form.error_messages %>

  		<fieldset>
  			<%= render "users/user_account_form", :form => form  %>
  		</fieldset>

  		<fieldset>
      <h4><%= form.label :bio %></h4>
      <p>
        Tell us a bit about yourself.
        <%= form.text_area :bio, :cols => 60, :rows =>5, :class => "bio" %>
      </p>

      <h4><%= form.label :credentials %></h4>
      <p>
        List any degrees, certifications, or other professional credentials you have.<br/>
        <%= form.text_area :credentials, :cols => 60, :rows =>5 %>
      </p>

      <h4><%= form.label :experience %></h4>
      <p>
        List any experience you have in other areas besides your profession. (E.g. SCUBA, photography, carpentry, etc)<br/>
        <%= form.text_area :experience, :cols => 60, :rows =>5 %>
      </p>

      <p class="text">
        <%= form.label :employer %>
        <%= form.text_field :employer, :cols => 60, :rows =>5 %>
      </p>
    </fieldset>
    <fieldset>
      <legend>Organizations</legend>
      <p>
          <%= render 'users/organizations', :user => form.object %>
          <%- if current_user.is_super_admin? || current_user == @user -%>
          <%- form.object.organization_membership_requests.build if form.object.organization_membership_requests.last.nil? || !form.object.organization_membership_requests.last.new_record? -%>
            <%- form.fields_for :organization_membership_requests do |omr_form| -%>
            <%- if omr_form.object.new_record? %>
              <%= omr_form.label :organization_id, "Organizations" %><br/>
              <%= omr_form.collection_select :organization_id, Organization.all, :id, :name, {:include_blank => true} %>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      </p>
    </fieldset>
    
      <fieldset>
        <legend>Roles</legend>
      
        <%= render 'users/roles', :user => form.object %>
      
        <%- form.object.role_requests.build if form.object.role_requests.last.nil? || !form.object.role_requests.last.new_record? -%>
        <%- form.fields_for :role_requests do |role_form| -%>
          <%= render 'role_requests/form', :f => role_form if role_form.object.new_record? %>
        <%- end -%>
      </fieldset>
    
      <p>
        <%= form.submit 'Save' %>
      </p>
    </div>
    <div class="aside">
      <%= form.label :photo %>
      <p>
        <%= image_tag form.object.photo.url(:medium) %>
        <%= form.file_field :photo, :size => "12" %>
        <%= form.submit 'Upload Picture' %>
      </p>
      
      <h4>Public Profile</h4>
			<p>This is information you can choose to make public through the TXPhin directory.
			It is not required that you fill any part of this profile out, or that you make the information public if you do. </p>

    <p>
      <%= form.check_box :public %>
      <%= form.label :public, "Make this profile public?" %>
    </p>
    
    <fieldset id="devices">
      <legend>Devices</legend>
    
      <div class="data-list">
        <div class='error'></div>
        <%= render form.object.devices, :in_form => true %>
      </div>
    
      <div class="new_device" style="display:none">
        <%- fields_for :device, @device ||= Device::EmailDevice.new do |device_form| -%>
          <%= device_form.error_messages %>
      
          <p>
            <%= device_form.label :type, 'Device Type' %>
            <%= select_tag :device_type, options_for_select([['Select…', nil]] + Device::Types.map{|t| [t.display_name, t.name.demodulize]}, params[:device_type])%>
          </p>
        <%- end -%>
      
        <% Device::Types.each do |device| %>
          <%- fields_for device.name.demodulize, device.new do |device_form| -%>
            <%= render :partial => "user_profiles/#{device.name.demodulize.underscore}", :locals => { :form => device_form } %>
          <% end %>
        <% end %>
        <%= link_to "Add", "#add-device", :class => "hidden add_new_device" %>
        <%= link_to "Cancel", "#add-device", :class => "hidden cancel_new_device" %>
      </div>
      
      <a href="#add-device" class="add_device">Add Device</a>
    </fieldset>
    </div>
  <% end %>
</div>
