<div class='profile_edit'>
<h1>Editing user_profile</h1>
  <% form_for @user_profile, :html => {:multipart => true} do |form| %>
		<% fields_for :user, @user_profile.user do |user_form| %>
			<fieldset>
				<legend>Account information</legend>
				<%= render :partial => "users/user_account_form", :locals => { :form => user_form } %>
			</fieldset>
		<% end %>

		<fieldset>
			<legend>Public Profile</legend>
			<p>This is information you can choose to make public through the OpenPHIN directory.
			It is not required that you fill any part of this profile out, or that you make the information public if you do. </p>
    <%= form.error_messages %>
    <p>
      <%= form.label :public, "Make this profile public?" %>
      <%= form.check_box :public %>
    </p>

  <p>
    <%= image_tag form.object.photo.url %>
    <%= form.label :photo %><br />
    <%= form.file_field :photo %>
  </p>

  <p>
      <b><%= form.label :bio %></b><br/>
      Tell us a bit about yourself.<br/>
      <%= form.text_area :bio, :cols => 60, :rows =>5, :class => "bio" %>
    </p>

    <p>
      <b><%= form.label :credentials %></b><br/>
      List any degrees, certifications, or other professional credentials you have.<br/>
      <%= form.text_area :credentials, :cols => 60, :rows =>5 %>
    </p>

    <p>
      <b><%= form.label :experience %></b><br/>
      List any experience you have in other areas besides your profession. (E.g. SCUBA, photography, carpentry, etc)<br/>
      <%= form.text_area :experience, :cols => 60, :rows =>5 %>
    </p>

    <p>
      <b><%= form.label :employer %></b><br/>
      <%= form.text_field :employer, :cols => 60, :rows =>5 %>
    </p>
    </fieldset>
    <p>
      <%= form.submit 'Save' %>
    </p>
  <% end %>
</div>
  <%= link_to 'Show', @user_profile %>