<h1>Listing user_profiles</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Public</th>
    <th>Credentials</th>
    <th>Employer</th>
    <th>Experience</th>
    <th>Bio</th>
  </tr>

<% @user_profiles.each do |user_profile| %>
  <tr>
    <td><%=h user_profile.photo %></td>
    <td><%=h user_profile.public %></td>
    <td><%=h user_profile.credentials %></td>
    <td><%=h user_profile.employer %></td>
    <td><%=h user_profile.experience %></td>
    <td><%=h user_profile.bio %></td>
    <td><%= link_to 'Show', user_profile %></td>
    <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
    <td><%= link_to 'Destroy', user_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_profile', new_user_profile_path %>