<h1>Listing users</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Public</th>
    <th>Credentials</th>
    <th>Employer</th>
    <th>Experience</th>
    <th>Bio</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.photo %></td>
    <td><%=h user.public %></td>
    <td><%=h user.credentials %></td>
    <td><%=h user.employer %></td>
    <td><%=h user.experience %></td>
    <td><%=h user.bio %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_profile_path %>