<h1>Profile for <%= @user.display_name %></h1>

<% tagged_form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <%= f.text_field :photo %>
  <%= f.check_box :public %>
  <%= f.text_area :credentials %>
  <%= f.text_field :employer %>
  <%= f.text_area :experience %>
  <%= f.text_area :bio %>
  <%= f.submit 'Create' %>
<% end %>

