  <div class='user_profile'>
    <%= link_to 'Edit', edit_user_profile_path(@user) if @user.editable_by?(current_user) %>
    
<p>
  <b>Photo:</b>
  <%= image_tag @user.photo.url(:medium) %>
</p>

<p>
  <b>Public:</b>
  <%=h @user.public %>
</p>

<p>
  <b>Credentials:</b>
  <%=h @user.credentials %>
</p>

<p>
  <b>Employer:</b>
  <%=h @user.employer %>
</p>

<p>
  <b>Experience:</b>
  <%=h @user.experience %>
</p>

<p>
  <b>Bio:</b>
  <%=h @user.bio %>
</p>

<% if current_user == @user %>
<p>
  <b>Roles:</b>
  <%= render 'users/roles', :user => @user %>
</p>
<% end %>

<%= render @user.devices %>
</div>

<%= link_to 'Edit', edit_user_profile_path(@user) %>