  <div class='user_profile'>
    <%= link_to 'Edit', edit_user_profile_path(@user_profile.user) if @user_profile.editable_by?(current_user) %>
    
<p>
  <b>Photo:</b>
  <%= image_tag @user_profile.photo.url(:medium) %>
</p>

<p>
  <b>Public:</b>
  <%=h @user_profile.public %>
</p>

<p>
  <b>Credentials:</b>
  <%=h @user_profile.credentials %>
</p>

<p>
  <b>Employer:</b>
  <%=h @user_profile.employer %>
</p>

<p>
  <b>Experience:</b>
  <%=h @user_profile.experience %>
</p>

<p>
  <b>Bio:</b>
  <%=h @user_profile.bio %>
</p>

<% if current_user == @user_profile.user %>
<p>
  <b>Roles:</b>
  	<ul class="roles">
      <% current_user.role_memberships.each do |r| %>
      <li><%= r.role.name%> in <%= r.jurisdiction.name%></li>
      <% end %>
  	</ul>
</p>
<% end %>

<%= render @user_profile.user.devices %>
</div>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %>