<div class='user_profile'>
<p>
  <b>Photo:</b>
  <%=h @user_profile.photo %>
</p>

<p>
  <b>Public:</b>
  <%=h @user_profile.public %>
</p>

<p>
  <b>Credentials:</b>
  <%=h @user_profile.credentials %>
</p>

<p>
  <b>Employer:</b>
  <%=h @user_profile.employer %>
</p>

<p>
  <b>Experience:</b>
  <%=h @user_profile.experience %>
</p>

<p>
  <b>Bio:</b>
  <%=h @user_profile.bio %>
</p>
</div>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profile_path(current_user) %>