  <div class='user_profile'>
<p>
  <b>Photo:</b>
  <%= image_tag @user_profile.photo.url %>
</p>

<p>
  <b>Public:</b>
  <%=h @user_profile.public %>
</p>

<p>
  <b>Credentials:</b>
  <%=h @user_profile.credentials %>
</p>

<p>
  <b>Employer:</b>
  <%=h @user_profile.employer %>
</p>

<p>
  <b>Experience:</b>
  <%=h @user_profile.experience %>
</p>

<p>
  <b>Bio:</b>
  <%=h @user_profile.bio %>
</p>

<%= render @user_profile.user.devices %>
</div>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %>