<% form_for @document || Document.new, :html => {:multipart => true} do |form| %>
  <%= form.label :file, form.object.new_record? ? 'Upload Document' : 'Upload a new version', :for =>  form.object.new_record? ? 'document_file' : 'document_file_update' %>
  <%= form.file_field :file, :size => "18", :id => form.object.new_record? ? 'document_file' : 'document_file_update' %>

  <%= form.submit form.object.new_record? ? 'Upload' : 'Update'  %>
<% end %>
<br/>
<p style='text-align: center;'>-or-</p>
<br/>
<% form_for @document || Document.new, :html => {:multipart => true} do |form| %>
  <%= render 'documents/folder_fields', :form => form %>

  <%= form.submit form.object.new_record? ? 'Upload' : 'Move to Folder'  %>
<% end %>
