<ul class="media_toolbar">
  <li id="new_media_folder" title="New Folder"><%= link_to "New Folder", "#" %></li>
  <li id="new_share_folder" title="New Share"><%= link_to "New Share", "#" %></li>
  <%- unless current_user.folders.empty? -%>
    <!--<li id="move_edit" alt="Move/Edit"><%= link_to "Move/Edit", "#" %></li>
    <li id="rename_folder" alt="Rename"><%= link_to "Rename Folder", "#" %></li> -->
  <%- end -%>
  <%- unless current_user.folders.empty? && current_user.channels.empty? -%>
    <li id="delete" title="Delete Folder/Share"><%= link_to "Delete", "#" %></li>
  <%- end -%>
  <%- unless current_user.channels.empty? -%>
    <li id="invite" title="Invite Users to Share"><%= link_to "Invite", "#" %></li>
    <li id="unsubscribe" title="Unsubscribe from Share"><%= link_to "Unsubscribe", "#" %></li>
  <%- end -%>
</ul>