<div class="flash" style="display: none;" id="origDocumentsFlash">
  <%- [:notice, :instructions, :completed, :error].each do |type| -%>
    <%- if flash[type] -%>
      <p class="<%= type %>"><%= flash[type] %></p>
    <%- end -%>
  <%- end -%>
</div>

<h4 class="panel_h">Contents of <%= @name %></h4>
<div id="contents" class="withsubfolders">
  <%- form_for :document do |f| -%>
    <ul class="documents">
      <%- if @documents.empty? -%>
        <li>This folder is empty.</li>
      <%- else -%>
        <%= render :partial => "document", :collection => @documents, :as => :document, :locals => {:f => f} %>
      <%- end -%>
    </ul>
  <%- end -%>
  <%- if @folder -%>
    <div class="upload_document">
      <%- form_for :document, documents_path, :html => {:multipart => true} do |f| -%>
        <%= f.label :file, "Upload Document" %>
        <%= f.file_field :file, :size => "16" %>
        <%= f.hidden_field :folder_id, :value => @parent_folder.id, :id => 'current_folder_id' %>
        <%= f.submit :upload %>
      <%- end -%>
    </div>
  <%- end -%>
</div>
<%= render "folders/new_folder" if @parent_folder %>
<%= render "folders/folders_toolbar" %>
