<%= render 'documents/form' %>

<h3>Folders</h3>
<ul>
  <li><%= link_to 'Inbox', documents_path %></li>
  <%= render current_user.folders.roots %>
</ul>

<h3>Documents</h3>
<ul>
  <%= render @documents %>
</ul>

<%= render 'folders/form' %>