<h2 class="title"><%=h @alert.title %></h2>
<div class="details">
  <%=simple_format h(@alert.message), :class => 'message' %>

  <p><strong>Short Message:</strong> <%= h(@alert.short_message) %></p>

  <% @alert.audiences.each do |audience| %>
    <p class="jurisdictions"><strong>Jurisdictions:</strong> <%=h audience.jurisdictions.blank? ? 'None' : audience.jurisdictions.map(&:name).to_sentence %></p>

    <p class="roles"><strong>Roles:</strong> <%=h audience.roles.blank? ? 'None' : audience.roles.map(&:name).to_sentence %></p>

    <p class="people"><strong>People:</strong> <%=h audience.users.blank? ? 'No additional people selected' : audience.users.map(&:name).to_sentence %></p>
  <% end %>
</div>

<div class="aside">
  <h5>Severity</h5>
  <p class="severity"><%=h @alert.severity %></p>

  <h5>Status</h5>
  <p class="status"><%=h @alert.status %></p>

  <h5>Acknowledge</h5>
  <p class="acknowledge"><%=h yn(@alert.acknowledge?) %></p>

  <h5>Sensitive</h5>
  <p class="sensitive"><%=h yn(@alert.sensitive?) %></p>

  <h5>Delivery Time</h5>
  <p class="delivery_time"><%=h @alert.human_delivery_time %></p>

  <h5>Methods</h5>
  <p class="communication_methods"><%= @alert.device_types.map{|d| d.constantize.display_name }.to_sentence %></p>

  <%- if !@alert.caller_id.blank? -%>
  <h5>Caller ID</h5>
  <p class="caller_id"><%= @alert.caller_id %></p>
  <%- end -%>
</div>
