<h2 class="title"><%=h @alert.title %></h2>
<div class="details">
  <%=simple_format h(@alert.message), :class => 'message' %>
  
  <p><strong>Short Message:</strong> <%= h(@alert.short_message) %></p>

  <p class="jurisdictions"><strong>Jurisdictions:</strong> <%=h @alert.jurisdictions.blank? ? 'None' : @alert.jurisdictions.map(&:name).to_sentence %></p>

  <p class="roles"><strong>Roles:</strong> <%=h @alert.roles.blank? ? 'None' : @alert.roles.map(&:name).to_sentence %></p>

  <p class="organizations"><strong>Organizations:</strong> <%=h @alert.organizations.blank? ? 'None' : @alert.organizations.map(&:name).to_sentence %></p>

  <p class="people"><strong>People:</strong> <%=h @alert.users.blank? ? 'No additional people selected' : @alert.users.map(&:name).to_sentence %></p>
</div>

<div class="aside">
  <h5>Severity</h5>
  <p class="severity"><%=h @alert.severity %></p>

  <h5>Status</h5>
  <p class="status"><%=h @alert.status %></p>

  <h5>Acknowledge</h5>
  <p class="acknowledge"><%=h @alert.acknowledge? ? 'Yes' : 'No' %></p>

  <h5>Delivery Time</h5>
  <p class="delivery_time"><%=h @alert.human_delivery_time %></p>

  <h5>Methods</h5>
  <p class="communication_methods"><%=h @alert.device_types.map{|d| d.constantize.display_name }.to_sentence %></p>
</div>

<% if @alert.acknowledged_by_user? %>
  <strong>acknowledged</strong>
<% else %>
  <%= acknowledge_alert_button(@alert) %>
<% end %>
