<div id="edit" class="<%= 'preview' if @preview %>">
  <%= hidden_field_tag :_action, params[:_action] %>
  
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :message %>
  <%= form.text_area :message, :rows => 5 %>

  <%= form.label :from_jurisdiction_id %>
  <%= form.select :from_jurisdiction_id, current_user.alerter_jurisdictions.map {|j| [j.name, j.id] } %>
  
  <%= form.label :status %>
  <%= form.select :status, Alert::Statuses %>

  <%= form.label :severity %>
  <%= form.select :severity, Alert::Severities %>

  <%= form.label :acknowledge, "Requires acknowledgement" %>
  <%= form.check_box :acknowledge %>
  
  <%= form.label :sensitive, "Sensitive (Confidential)" %>
  <%= form.check_box :sensitive %>

  <%= form.label :delivery_time %>
  <%= form.select :delivery_time, Alert::DeliveryTimes.map{|d| [Alert.human_delivery_time(d), d]} %>
  
  <fieldset>
    <legend>Communication Methods</legend>
    <% Device::Types.each do |type| %>
      <%= check_box_tag 'alert[device_types][]', type, form.object.device_types.include?(type.to_s), :id => "alert_#{dom_class(type)}" %>
      <%= label_tag "alert_#{dom_class(type)}", type.display_name %>
    <% end %>
  </fieldset>
  
  <fieldset>
    <legend>Jurisdictions</legend>
    <%= form.label :jurisdiction_ids, "Jurisdictions", :style => "display:none" %>
    <%= form.select :jurisdiction_ids, Jurisdiction.all.map{|m| [m.name, m.id]}, {}, :multiple => :multiple, :class => 'crossSelect' %>
  </fieldset>

  <fieldset>
    <legend>Limit to Certain Roles</legend>
    <%= form.label :role_ids, "Roles", :style => "display:none" %>
    <%= form.select :role_ids, Role.user_roles.map{|m| [m.name, m.id]}, {}, :multiple => :multiple, :class => 'crossSelect' %>
  </fieldset>
      
  <fieldset>
    <legend>Limit to Certain Organizations</legend>
    <%= form.label :organization_ids, "Organizations", :style => "display:none" %>
    <%= form.select :organization_ids, Organization.approved.map{|m| [m.name, m.id]}, {}, :multiple => :multiple, :class => 'crossSelect' %>
  </fieldset>
  
  <fieldset>
    <legend>People</legend>
    <%= hidden_field_tag 'alert[user_ids][]', nil, :id => :alert_user_id %>
    <%= form.select :user_ids, form.object.users.map{|u| [u.name, u.id]}, {}, :multiple => :multiple %>
  </fieldset>
  <%= form.submit "Preview Message" %>
</div>

<% if @preview %>
  <div id="preview">
    <%= render @alert %>

    <%= link_to 'Edit', '#edit', :class => 'edit' %>
    <%= form.submit "Send", :name => 'send' %>
  </div> 
<% end %>