<% if !@update.blank? %>
  <h2>Create an Alert Update</h2>
<% elsif !@cancel.blank? %>
  <h2>Create an Alert Cancellation</h2>
<% else %>
  <h2>Create a New Alert Message</h2>
<% end %>
<ul class="progress">
  <li class="first"><a href="#details"><span>1. Details</span></a></li>
  <% if @update.blank? && @cancel.blank? %><li><a href="#audience"><span>2. Audience</span></a></li><% end %>
  <li><a href="#preview" class='preview_alert<%= " current" if @preview %>'><span>3. Preview</span></a></li>
</ul>
<div id="edit">
  <%= hidden_field_tag :_action, params[:_action] %>
  <div id="details">
    <div class="details">
      <p><%= form.error_messages %></p>
      <% if @update.blank? && @cancel.blank? %>
        <p>
          <%= form.label :title %>
          <%= form.text_field :title, :maxlength => 46 %>
          The title must be 46 characters or less including whitespace
        </p>
	  <% else %>
		<h2><%=h @alert.title %></h2>
	  <% end %>

      <p>
        <%= form.label :message %> (<span id="msgcnt">0</span> characters)
        <%= form.text_area :message, :rows => 5 %>
        Any message larger than 580 characters including whitespace will cause the message to be truncated and recipients will need to visit the TXPhin website to view the entire message contents.
      </p>
      <% if @update.blank? && @cancel.blank? %>
        <div id="call_down_container" class="hidden">
          <%= label_tag "alert_call_down_messages_1", "Alert Response 1" %>
          <%= text_field_tag "alert[call_down_messages][1]", @alert.call_down_messages.blank? ? "" : @alert.call_down_messages["1"], :id => "alert_call_down_messages_1", :class => 'alert_call_down_messages' %>
          <%= label_tag "alert_call_down_messages_2", "Alert Response 2" %>
          <%= text_field_tag "alert[call_down_messages][2]", @alert.call_down_messages.blank? ? "" : @alert.call_down_messages["2"], :id => "alert_call_down_messages_2", :class => 'alert_call_down_messages' %>
          <%= label_tag "alert_call_down_messages_3", "Alert Response 3" %>
          <%= text_field_tag "alert[call_down_messages][3]", @alert.call_down_messages.blank? ? "" : @alert.call_down_messages["3"], :id => "alert_call_down_messages_3", :class => 'alert_call_down_messages' %>
          <%= label_tag "alert_call_down_messages_4", "Alert Response 4" %>
          <%= text_field_tag "alert[call_down_messages][4]", @alert.call_down_messages.blank? ? "" : @alert.call_down_messages["4"], :id => "alert_call_down_messages_4", :class => 'alert_call_down_messages' %>
          <%= label_tag "alert_call_down_messages_5", "Alert Response 5" %>
          <%= text_field_tag "alert[call_down_messages][5]", @alert.call_down_messages.blank? ? "" : @alert.call_down_messages["5"], :id => "alert_call_down_messages_5", :class => 'alert_call_down_messages' %>
        </div>
      <% end %>
      <%= form.label :short_message %>
      This field allows the use of a shorter message that will be used for certain devices with message length limitations, e.g. SMS (text messaging) and Blackberry PIN.<br/>
      <strong class="maxlen">Maximum length: 160 characters</strong>.
      <%= render :partial => "recorder", :locals => {:upload_url => "#{UPLOAD_BASE_URI}/alerts/index/upload", :filename => current_user.generate_upload_token } unless @preview %>
      <%= form.text_area :short_message, :rows => 2, :class => "short_message", :wrap => "soft" %>

      <%- unless @update.blank? && @cancel.blank? %><p><%= form.submit "Preview Message", :id => "alert_preview_submit" %></p><% end %>
    </div>
    <div class="aside">
      <% if @update.blank? && @cancel.blank? %>
      <p>
        <%= form.select :from_jurisdiction_id, current_user.alerter_jurisdictions.map {|j| [j.name, j.id] } %>
        <%= form.label :from_jurisdiction_id, 'Jurisdiction' %>
      </p>

      <p>
        <%= form.select :status, Alert::Statuses %>
        <%= form.label :status %>
      </p>
      <% end %>

      <p>
        <%= form.select :severity, Alert::Severities %>
        <%= form.label :severity %>
      </p>

      <p>
        <%= form.select :delivery_time, Alert::DeliveryTimes.map{|d| [Alert.human_delivery_time(d), d]}, { :selected => @alert.delivery_time} %>
        <%= form.label :delivery_time %>
      </p>

      <p>
        <%= form.select :acknowledge, @acknowledge_options, :selected => @acknowledge %>
        <%= form.label :acknowledge, "Acknowledge" %>
      </p>

      <% if @alert.has_alert_response_messages? && !(@update.blank? && @cancel.blank?) %>
        <p>
          <%= form.label :responders, "Responders" %>
          <%= form.select :responders, options_for_select(@alert.call_down_messages.collect{|key,value| [value,key]},@alert.call_down_messages.keys),{:prompt=>"Select one or more"},{:multiple=>true,:size=>6} %>
        </p>
      <% end %>

      <p>
        <%= form.check_box 'not_cross_jurisdictional', {:checked => @alert.not_cross_jurisdictional} %>
        <%= form.label "not_cross_jurisdictional", "Disable Cross-Jurisdictional alerting?" %>
      </p>

      <p>
        <%= form.check_box :sensitive %>
        <%= form.label :sensitive, "Sensitive (Confidential)" %>
      </p>

	  <p class="caller_id">
		<%= form.text_field :caller_id, {:value => @alert.caller_id.blank? ? "4114114111" : @alert.caller_id, :maxlength => 10} %>
	  	<%= form.label :caller_id, "Caller ID<br/>(numbers only, no country code or dashes)" %>
	  </p>

      <% if @update.blank? && @cancel.blank? %>
      <fieldset class="list">
        <legend>Communication Methods</legend>
        <ul class="check_selector">
          <% Device::Types.each do |type| %>
            <li><%= check_box_tag 'alert[device_types][]', type, form.object.device_types.include?(type.to_s), {:class => "alert_device", :id => "alert_#{dom_class(type)}"} %>
            <%= label_tag "alert_#{dom_class(type)}", type.display_name %>
            </li>
          <% end %>
        </ul>
      </fieldset>
	  <% else %>
	    <% @device_types.each do |device_type| %>
		<%= hidden_field_tag "alert[device_types][]", device_type %>
		<% end %>
	  <% end %>
    </div>
  </div>
  <div id="audience">
    <%- if @update.blank? && @cancel.blank? -%>
      <% form.object.audiences.build unless form.object.audiences.flatten.detect{|a| a.instance_of? Audience} %>
      <% form.fields_for :audiences do |audience| %>
        <% unless audience.object.is_a?(Group) %>
          <%= render 'audiences/fields', :form => audience, :group_form => form %>
        <% end %>
      <% end %>

      <%= form.submit "Preview Message", :class => "preview_alert", :id => "alert_preview_submit" %>
    <%- end -%>
  </div>
</div>

<% if @preview %>
  <div id="preview" class="preview">
    <%= render @alert %>
    <!--<div class="details callout">
  	  <p>Would you like to attach a voice recorded message now?<br />
	      <%= form.label :message_recording %>
	      <%= form.file_field :message_recording %><br />
	      Message recording must be in a PCM (WAV) 8000Hz mono format
	    </p>
    </div>-->
    <%= render :partial => "player", :locals => {:sample_url => "#{UPLOAD_BASE_URI}/alerts/new/playback.wav?token=#{@token}" } if current_user.has_uploaded? %>
    <div class="details actions">
      <button class="edit">&lt; Edit this Alert</button>
      <%= form.submit "Send this Alert!", :name => 'send', :id => "alert_submit" %>
    </div>
  </div>
<% end %>
