<% if !@update.blank? %>
  <h3>Create an Alert Update</h3>
<% elsif !@cancel.blank? %>
  <h3>Create an Alert Cancellation</h3>
<% else %>
  <h3>Create a New Alert Message</h3>
<% end %>
<ul class="progress">
  <li class="first"><a href="#details"><span>1. Details</span></a></li>
  <% if @update.blank? && @cancel.blank? %><li><a href="#audience"><span>2. Audience</span></a></li><% end %>
  <li><a href="#preview"<%= ' class="current"' if @preview %>><span>3. Preview</span></a></li>
</ul>
<div id="edit">
  <%= hidden_field_tag :_action, params[:_action] %>
  <div id="details">
    <div class="details">
      <p><%= form.error_messages %></p>
      <% if @update.blank? && @cancel.blank? %>
        <p>
          <%= form.label :title %>
          <%= form.text_field :title %>
        </p>
	  <% else %>
		<h2><%=h @alert.title %></h2>
	  <% end %>
      
      <p>
        <%= form.label :message %>
        <%= form.text_area :message, :rows => 5 %>
      </p>

      <p>
        <%= render :partial => "recorder", :locals => {:upload_url => "#{UPLOAD_BASE_URI}/alerts/index/upload", :filename => current_user.generate_upload_token } unless @preview%>
      </p>
       	
      <p>
        <%= form.label :short_message %>
        <%= form.text_area :short_message, :rows => 2 %>
      </p>
      
      <p><small>This field allows the use of a shorter message that will be used for certain devices with message length limitations, e.g., SMS (text messaging).  If this field is not utilized, the regular message body will be sent via short-message devices, possibly truncating the message. <strong>Maximum length: 160 characters</strong>.</small></p>
      <%- unless @update.blank? && @cancel.blank? %><p><%= form.submit "Preview Message" %></p><% end %>
    </div>
    <div class="aside">
      <% if @update.blank? && @cancel.blank? %>
      <p>
        <%= form.select :from_jurisdiction_id, current_user.alerter_jurisdictions.map {|j| [j.name, j.id] } %>
        <%= form.label :from_jurisdiction_id, 'Jurisdiction' %>
      </p>
      
      <p>
        <%= form.select :status, Alert::Statuses %>
        <%= form.label :status %>
      </p>
      <% end %>      

      <p>
        <%= form.select :severity, Alert::Severities %>
        <%= form.label :severity %>
      </p>
      
      <p>
        <%= form.select :delivery_time, Alert::DeliveryTimes.map{|d| [Alert.human_delivery_time(d), d]} %>
        <%= form.label :delivery_time %>
      </p>
      
      <p>
        <%= form.check_box :acknowledge %>
        <%= form.label :acknowledge, "Requires acknowledgement" %>
      </p>
      
      <p>
        <%= form.check_box :sensitive %>
        <%= form.label :sensitive, "Sensitive (Confidential)" %>
      </p>

      <% if @update.blank? && @cancel.blank? %>
      <fieldset class="list">
        <legend>Communication Methods</legend>
        <ul class="check_selector">
          <% Device::Types.each do |type| %>
            <li><%= check_box_tag 'alert[device_types][]', type, form.object.device_types.include?(type.to_s), :id => "alert_#{dom_class(type)}" %>
            <%= label_tag "alert_#{dom_class(type)}", type.display_name %>
            </li>
          <% end %>
        </ul>
      </fieldset>
	  <% else %>
	    <% @device_types.each do |device_type| %>
		<%= hidden_field_tag "alert[device_types][]", device_type %>
		<% end %>
	  <% end %>
    </div>
  </div>
  <div id="audience">    
    <% if @update.blank? && @cancel.blank? %>
    <fieldset class="filterable list">
      <legend>Jurisdictions</legend>
      <%= jurisdiction_list(form) %>
    </fieldset>
    
    <fieldset class="filterable list">
      <legend>Limit Roles</legend>
      <ul class="check_selector">
        <%- Role.user_roles.each do |r| -%>
          <li><%= check_box_tag 'alert[role_ids][]', r.id, form.object.role_ids.include?(r.id), :id => "alert_role_#{r.id}" %>
          <%= label_tag "alert_role_#{r.id}", r.name %>
          </li>
        <%- end -%>
      </ul>
    </fieldset>
        
    <fieldset class="filterable list last">
      <legend>Organizations</legend>
      <ul class="check_selector">
        <%- Organization.approved.each do |o| -%>
          <li><%= check_box_tag 'alert[organization_ids][]', o.id, form.object.organization_ids.include?(o.id), :id => "alert_org_#{o.id}" %>
          <%= label_tag "alert_org_#{o.id}", o.name %>
          </li>
        <%- end -%>
      </ul>
    </fieldset>
    
    <fieldset class="people">
      <legend>People</legend>
      <%- form.object.users.each do |user| -%>
        <%= hidden_field_tag "alert[user_ids][]", user.id %>
      <%- end -%>

      <%= form.select :user_ids, form.object.users.map{|u| [u.name, u.id]}, {}, :multiple => :multiple %>
    </fieldset>
    
    <%= form.submit "Preview Message" %>
    <%- end -%>
    
  </div>
</div>

<% if @preview %>
  <div id="preview" class="preview">
    <%= render @alert %>
    <!--<div class="details callout">
  	  <p>Would you like to attach a voice recorded message now?<br />
	      <%= form.label :message_recording %>
	      <%= form.file_field :message_recording %><br />
	      Message recording must be in a PCM (WAV) 8000Hz mono format
	    </p>
   </div>-->
   <%= render :partial => "player", :locals => {:sample_url => "#{UPLOAD_BASE_URI}/alerts/new/playback.wav?token=#{@token}" } if current_user.has_uploaded? %>
   <div class="details actions">
    <button class="edit">&lt; Edit this Alert</button>
    <%= form.submit "Send this Alert", :name => 'send' %>
   </div>
  </div> 
<% end %>
