<%= link_to 'New Alert', new_alert_path %>

<table id="alerts">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date Created</th>
      <th>Sender</th>
	  <th>Jurisdiction</th>
      <th>Severity</th>
      <th>Title</th>
	  <th>Progress</th>
	  <th>Progress (by jurisdiction)</th>
	  <th>Progress (by device)</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <% content_tag_for :tr, alert do %>
        <td class="identifier"><%=h alert.identifier %></td>
        <td class="sent_at"><%= time_ago_in_words alert.sent_at if alert.sent_at? %></td>
		<td class="sent_by"><%= alert.author.display_name unless alert.author.nil? %></td>
        <td class="from_jurisdiction"><%=h alert.from_jurisdiction %></td>
        <td class="severity"><%=h alert.severity %></td>
        <td class="title"><%=h alert.title %></td>
        <td class="ackpercent"><%=h alert.acknowledged_percent.round %>%</td>
        <td>
          <ul>
            <% alert.jurisdictions.each do |d| %>
                <li class='jur_ackpct'>
                  <span class='jurisdiction'><%= d.name %></span> -
                  <span class='percentage'>
                    <%= alert.acknowledged_percent_for_jurisdiction(d).round %>%
                  </span>
                </li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% Device::Types.each do |d| %>
                <li class='dev_ackpct'>
                  <span class='device_type'><%= d.display_name %></span> -
                  <span class='percentage'>
                    <%= alert.acknowledged_percent_for_device(d).round %>%
                  </span>
                </li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'View', alert %>
		  <%= link_to 'Update', edit_alert_path(alert, :_action => 'update') if alert.original_alert.nil? && !alert.cancelled? %>
          <%= link_to 'Cancel', edit_alert_path(alert, :_action => 'cancel') if alert.original_alert.nil? && !alert.cancelled? %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
