<h2>Viewing Alerts</h2>

<ul id="alerts">
  <% @alerts.each do |alert| %>
    <% content_tag_for :li, alert do %>
        <div class="summary">
          <p class="title">
            <span class="title <%= alert.severity.downcase %>"><%=h alert.title %></span>
            <span class="actions">
              <%= link_to 'More', '#', :class => 'view_more' %>
              <%= link_to 'Less', '#', :class => 'view_less' %>
              <%= link_to 'View', alert %>
              <%= link_to 'Update', edit_alert_path(alert, :_action => 'update') if alert.original_alert.nil? && !alert.cancelled? %>
              <%= link_to 'Cancel', edit_alert_path(alert, :_action => 'cancel') if alert.original_alert.nil? && !alert.cancelled? %>
              <%= link_to 'Export', formatted_alert_path(alert, :csv) if current_user.alerter? %>
            </span>
          </p>
          <p class="meta">
            <span class="created_at">Posted at <%= alert.created_at.to_s(:standard) %> <%= 'by '+link_to(alert.author.display_name, user_profile_path(alert.author)) unless alert.author.blank? || alert.author.display_name.blank? %></span>
            <%- if alert.status.blank? || alert.status.downcase != "actual" -%>
            <span class="status <%= alert.status.downcase %>"><strong>Status:</strong> [<%= alert.status.capitalize %>]</span>
            <%- end -%>
			<span class="severity <%=h alert.severity %>"><strong>Severity:</strong> <%=h alert.severity %></span>
            <span class="from_jurisdiction"><strong>From:</strong> <%=h alert.sender %></span>
            <br/>
			<%- if alert.acknowledge? -%>
            <span class="progress"><strong>Acknowledgments:</strong> <%= alert.acknowledged_percent.round %>%</span>
			<%- end -%>
		  </p>
        </div>
	    <div class="extended preview">
	  	  <div class="details">
            <p class="brief alertid"><strong>Alert ID:</strong> <%=h alert.identifier %></p>

            <p class="brief"><strong>Sensitive:</strong> <%=h alert.sensitive? ? 'Yes' : 'No' %></p>

	  	    <p class="brief"><strong>Acknowledge:</strong> <%=h alert.acknowledge? ? 'Yes' : 'No' %></p>

            <%- if !alert.original_alert_id.blank? -%>
            <p class="brief"><strong>Reference ID:</strong> <%=h alert.original_alert.identifier %></p>
            <%- end -%>
            <div class="message">
              <%=simple_format h(alert.message) %>
            </div>

            <% unless alert.acknowledged_by_user? || !alert.recipients.include?(current_user) %>
              <%= acknowledge_alert_button(alert) %>
            <% end %>
          </div>
	  	  <div class="aside">
			<%- if alert.acknowledge? -%>
	        <h3>Acknowledgments (by jurisdiction)</h3>
			<div class="jur_ackpct">
            <% alert.total_jurisdictions.each do |d| %>
              <h5 class="jurisdiction"><%=h d.name %></h5>
              <p class="percentage"><%= alert.acknowledged_percent_for_jurisdiction(d).round %>%</p>
            <% end %>
			</div>

            <h3>Acknowledgments (by device)</h3>
			<div class="dev_ackpct">
            <% alert.alert_device_types.each do |d| %>
              <div class="<%=h d.device_type.display_name %>">
                <h5 class="device_type"><%=h d.device_type.display_name %></h5>
                <p class="percentage"><%= alert.acknowledged_percent_for_device(d).round %>%</p>
              </div>
            <% end %>
			</div>
			<%- end -%>
	  	  </div>
        </div>
    <%- end -%>
  <%- end -%>
</ul>