<%= link_to 'New Alert', new_alert_path %>

<table id="alerts">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date Sent</th>
      <th>Sender</th>
      <th>Severity</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <% content_tag_for :tr, alert do %>
        <td class="identifier"><%=h alert.identifier %></td>
        <td class="sent_at"><%= time_ago_in_words alert.sent_at if alert.sent_at? %></td>
        <td class="from_jurisdiction"><%=h alert.from_jurisdiction %></td>
        <td class="severity"><%=h alert.severity %></td>
        <td class="title"><%=h alert.title %></td>
        <td><%= link_to 'View', alert %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
