<% div_for @alert do %>
	<%= render :partial => "alert" %>
	<%= button_to 'Back', :back, :method => :get %>
<% end %>
<div id="response_details" class="details">
  <% unless @alert.acknowledged_by_user? %>
    <% if @alert.has_alert_response_messages? %>
      <% form_for :alert_attempt, :url=>acknowledge_alert_path(@alert), :html => {:method => :put} do |form| %> 
        <%= form.label "call_down_response", "Alert Response" %>
        <%= form.select("call_down_response", options_for_select(@alert.call_down_messages.collect{|k,v|[v,k]}),{:include_blank=>true}) %>
        <p><%= form.submit "Acknowledge" %></p>
      <% end %>
    <% else %>
      <%= acknowledge_alert_button(@alert) %>
    <% end %>
  <% end %>
</div>