<% unless (invitation = report) %>
  This Invitation does not exist or you do not have authorization to view it.
<% else %>
  <% filtered = filters.present? ? "(FILTERED)" : "" %>
  <table cellspacing="0" class="BreadnButter">
    <caption style="text-align:center">
      <h2>
        <% if invitation.present? %>
          <%= h invitation['name'] %><br>
          <%= "Invitation Report by Pending Role Requests" %><br>
          <%= h "as of #{invitation['created_at']}" %>
        <% end %>
      </h2>
      <h3>
        <% if entries.present? %>
          <%= "#{entries.count} Invitees Found" %>
      <% end %>
      </h3>
    </caption>
    <% if entries.present? && directives.present? %>
      <%= render :partial => "reports/admin/invitations/entries", :locals => {:entries => entries, :directives => directives} %>
    <% end %>
  </table>
<% end %>
<p>
  <%= "Report Generated #{filtered} on: #{Time.now.utc} for #{current_user.display_name}" %>
</p>

