<%= render :partial => "reports", :locals => {:report_type => report_type, :report_options => report_options} %>

<h2>Invitation report for <%= invitation.name %> by organization</h2>

<%- cache(:key => [params[:page] || 1, report_type].join(":"), :expires_in => 1.hour) do -%>
  <h3>Organization: <%= invitation.default_organization.name %></h3>
  <p><%= link_to "Printable Report (PDF)", "#{reports_admin_invitation_path(invitation,:format=>:pdf)}?report_type=#{report_type}"%></p>
  <%= will_paginate results, :params => {:report_type => report_type} %>
  <table border="1">
    <tr>
      <td><%= link_to 'Name', "#{reports_admin_invitation_path(invitation)}?&sort=name#{@reverse}&report_type=#{report_type}"%></td>
      <td><%= link_to "Email Address", "#{reports_admin_invitation_path(invitation)}?&sort=email#{@reverse}&report_type=#{report_type}"%></td>
      <td>Is Member?</td>
    </tr>
    <%- results.each_with_index do |invitee, index| %>
      <tr id="<%= "invitee#{index + 1}" %>">
        <td><%= invitee.user.nil? ? invitee["name"] : link_to(invitee["name"], user_profile_path(invitee.user.id)) %></td>
        <td><%= invitee["email"] %></td>
        <td class="status"><%= invitee.is_member? %></td>
      </tr>
    <%- end -%>
  </table>
  <%= will_paginate results, :params => {:report_type => report_type, :report_options => report_options} %>
  <p><%= link_to "Printable Report (PDF)", "#{reports_admin_invitation_path(invitation,:format=>:pdf)}?report_type=#{report_type}"%></p>
<%- end -%>