<%= render :partial => "reports", :locals => {:report_type => report_type, :report_options => report_options} %>

<h2>Invitation report for <%= invitation.name %> by email address</h2>

<%- cache(:key => [params[:page] || 1, report_type].join(":"), :expires_in => 1.hour) do -%>
  <p>Registrations complete: <%= invitation.registrations_complete_percentage %>% (<%= invitation.registrations_complete_total %>)</p>
  <p>Registrations incomplete: <%= invitation.registrations_incomplete_percentage %>% (<%= invitation.registrations_incomplete_total %>)</p>
  <p>
    <%= link_to "Printable Report (PDF)", reports_admin_invitation_path(invitation,:format=>:pdf, :report_type => report_type) %>
    <%= link_to "Download Report (CSV)", reports_admin_invitation_path(invitation,:format=>:csv, :report_type => report_type) %>
  </p>
  <%= will_paginate results, :params => {:report_type => report_type, :report_options => report_options} %>
  <table class="inviteTable">
    <thead>
      <tr>
        <th><%= link_to 'Name', reports_admin_invitation_path(invitation, :sort => "name", :reverse => @reverse, :report_type => report_type), { :title => "Sort By Name" } %></th>
        <th><%= link_to "Email Address", reports_admin_invitation_path(invitation, :sort => "email", :reverse => @reverse, :report_type => report_type), { :title => "Sort By Email" } %></th>
        <th><%= link_to "Completion Status", reports_admin_invitation_path(invitation, :sort => "completion_status", :reverse => @reverse, :report_type => report_type), { :title => "Sort By Completion Status" } %></th>
      </tr>
    </thead>
    <tbody>
      <%- results.each_with_index do |invitee, index| %>
        <tr id="<%= "invitee#{index + 1}" %>">
          <td><%= invitee.user.nil? ? invitee["name"] : link_to(invitee["name"], user_profile_path(invitee.user.id)) %></td>
          <td><%= invitee["email"] %></td>
          <td class="status"><%= invitee.completion_status %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  <%= will_paginate results, :params => {:report_type => report_type, :report_options => report_options} %>
  <p>
    <%= link_to "Printable Report (PDF)", reports_admin_invitation_path(invitation,:format=>:pdf, :report_type => report_type) %>
    <%= link_to "Download Report (CSV)", reports_admin_invitation_path(invitation,:format=>:csv, :report_type => report_type) %>
  </p>
<%- end -%>