<%= render :partial => "reports", :locals => {:report_type => report_type} %>

<h2>Invitation report for <%= invitation.name %> by pending role requests</h2>

<%- cache(:key => [params[:page] || 1, report_type].join(":"), :expires_in => 1.hour) do -%>
  <%= will_paginate results, :params => {:report_type => report_type} %>
  <table border="1">
    <tr>
      <td>Name</td>
      <td>Email Address</td>
      <td>Pending Role Requests</td>
    </tr>
    <%- results.each_with_index do |invitee, index| %>
      <tr id="<%= "invitee#{index + 1}" %>">
        <td><%= invitee.user.nil? ? invitee["name"] : link_to(invitee["name"], user_profile_path(invitee.user.id)) %></td>
        <td><%= invitee["email"] %></td>
        <td><%- invitee.user.role_requests.each do |rr| -%>
          <%= "#{rr.role.name} - #{rr.jurisdiction.name} #{link_to 'Approve', approve_admin_role_request_path(rr)} | #{link_to 'Deny', deny_admin_role_request_path(rr)}<br/>" %>
        <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </table>
  <%= will_paginate results, :params => {:report_type => report_type} %>
<%- end -%>