<h2>Invite New People</h2>

<% form_for @invitation, :url => admin_invitations_path, :multipart => true do |form| %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :subject %><br />
    <%= form.text_field :subject, :size=>60 %>
  </p>
  <p>
    <%= form.label :body %><br />
    <%= form.text_area :body, :cols=>60, :rows=>5 %>
  </p>

  <p>
    <%= label_tag "default_organization", "Default Organization" %>
    <%= collection_select("invitation","organization_id", Organization.non_foreign, :id, :name, {:include_blank => true}, :id => "default_organization") %>
  </p>

  <p>
    <%= label_tag "A list of invitees can be uploaded using this file" %><br />
    <%= form.label :csvfile, "CSV File" %>
    <%= form.file_field :csvfile %> 
  </p>
  <p><%= label_tag "or/and" %></p>
  <%= label_tag "individuals with the following:" %> <br />
  <p>
    <% fields_for "invitation[invitees_attributes][0]" do |invitee_form| %>
      <%= invitee_form.label :name, "Invitee Name"%>
      <%= invitee_form.text_field :name %><br /> 
      <%= invitee_form.label :email, "Invitee Email" %>
      <%= invitee_form.text_field :email %><br />
      <%= link_to("Add Invitee","#", :id => "AddInvitee") %>
    <% end %>
  </p>
  <p><ul id="invitees-list"></ul></p><br />
  <p><%= form.submit "Submit" %></p>
<% end %>

