<h1>Editing jurisdiction</h1>

<% form_for(@jurisdiction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= render :partial => 'form', :locals => {:f => f}  %>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @jurisdiction %> |
<%= link_to 'Back', jurisdictions_path %>