<h1>Listing jurisdictions</h1>

<table>
  <tr>
  </tr>

<% @jurisdictions.each do |jurisdiction| %>
  <tr>
    <td><%=h jurisdiction.name %></td>
    <td><%= link_to 'Show', jurisdiction %></td>
    <td><%= link_to 'Edit', edit_jurisdiction_path(jurisdiction) %></td>
    <td><%= link_to 'Destroy', jurisdiction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New jurisdiction', new_jurisdiction_path %>