<h3><%=@jurisdiction.name %></h3>
<div>
  <b>Description</b>: <%=h @jurisdiction.description %>
</div>
<div>
  <b>Fax</b>: <%=h @jurisdiction.fax %>
</div>
<div>
  <b>City</b>: <%=h @jurisdiction.locality %>
</div>
<div>
  <b>Zip Code</b>: <%=h @jurisdiction.postal_code %>
</div>
<div>
  <b>State</b>: <%=h @jurisdiction.state %>
</div>
<div>
  <b>Street Address</b>: <%=h @jurisdiction.street %>
</div>
<div>
  <b>Phone Number</b>: <%=h @jurisdiction.phone %>
</div>
<div>
  <b>County</b>: <%=h @jurisdiction.county %>
</div>
<div>
  <b>Alerting Jurisdictions</b>: <%=h @jurisdiction.alerting_jurisdictions %>
</div>
<div>
  <b>Primary Organization Type</b>: <%=h @jurisdiction.primary_organization_type %>
</div>
<h3><%= link_to 'Parent Jurisdiction', jurisdiction_path(@jurisdiction.parent) if !@jurisdiction.root? %></h3>
<% if !@jurisdiction.leaf? %>
  <div>
    <b>Child Jurisdictions</b>
    <ul>
      <% @jurisdiction.children.each do |child| %>
        <li>
          <%= link_to h(child.name), jurisdiction_path(child) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction) %> |
<%= link_to 'Back', jurisdictions_path %>