<h1>Assign User Roles</h1>

<% form_for :role_assigns, :url => role_assignments_path do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>People</legend>
    <%= hidden_field_tag 'role_assigns[user_ids][]', nil, :id => :role_assigns_user_id %>
    <%= f.select :user_ids, [], {}, :multiple => :multiple %>
  </fieldset>

  <p>
    <%= f.label :jurisdiction_id,  "Jurisdiction" %><br/>
    <%= f.collection_select :jurisdiction_id, current_user.jurisdictions.admin, :id, :name, :include_blank => true %><br/>
  </p>

  <p>
    <%= f.label :role_id, "Role" %><br/>
    <%= f.collection_select :role_id, Role.user_roles, :id, :name, :include_blank => true %><br/>
  </p>

  <p>
    <%= f.submit 'Assign Roles' %>
  </p>
<% end %>

