Please fill in part of the name or email address of the person you would like to search for:<br/>

<p class="search_user_explanation">
  Inputs support the wildcard (*) character.<br />  
    (*son) could match johnson, jason ...,<br />   
    (will*) could match william, willie ...,<br />  
    (*il*) could match will, millie, etc ...<br />  
    (*il**) is not a valid pattern
</p>
<% form_for :conditions, :url => {:controller => "searches", :action => "show_advanced"},:method => "post" do |f| %>
  <div class="quick_search_user">
    <p>
      <%= label_tag(:name, "Search for:") %>
      <%= text_field_tag(:name) %>
    </p>
  </div>
  <div class="advance_search_user">
    <p>
      <span>
        <%= f.label :first_name, "First name"%>
        <%= f.text_field :first_name %>
      </span>
      <span>
        <%= f.label :last_name, "Last name"%>
        <%= f.text_field :last_name %>
      </span>
    </p>
    <p>
      <%= f.label :display_name, "Display name"%>
      <%= f.text_field :display_name, :size=>48 %>
    </p>
    <p>
      <%= f.label :email, "Email"%>
      <%= f.text_field :email, :size=>48 %>
    </p>
    <p>
      <span>
        <%= f.label :phone, "Phone"%>
        <%= f.text_field :phone, :size=>12 %>
      </span>
      <span>
        <%= f.label :title, "Job Title"%>
        <%= f.text_field :title, :size=>36 %>
      </span>
    </p>
    <%= label "","Ctrl-Click (MAC Users: Cmd-Click) for selecting more than one" %>
    <p>
      <span class="jurisdiction_select">
        <%= label :jurisdiction_id,  "Jurisdiction" %>
        <%= collection_select "with","jurisdiction_ids", Jurisdiction.nonroot, :id, :name, 
            {:include_blank => true}, {:multiple=>true,:size=>10} -%>
      </span>
      <span class="role_select">
        <%= label :role_id, "Role" %>
        <%= collection_select "with", "role_ids", current_user.is_admin? ? Role.all : Role.user_roles, :id, :display_name, 
            {:include_blank => true}, {:multiple=>true,:size=>10} -%>
      </span>
    </p>
  </div>
  <p>
  <%= submit_tag "Search", :name=>nil %>
  </p>
<% end %>
