<% unless (group = report) %>
  This Group does not exist or you do not have authorization to view it.
<% else %>
  <% filtered = filters.present? ? "(FILTERED)" : "" %>
  <table cellspacing="0" class="BreadnButter" >
    <caption style="text-align:center">
      <% if group.present? %>
        <h2>
          <%= "Group: #{h(group['name'])} as of #{group['created_at']}" %>
        </h2>
        <div>
          <h5>
            <%= 'Scope: ' + h( group["scope"] ) + " of " + s( group["owner_jurisdiction"] ) %>
          </h5>
        </div>
        <div>
          <h5>Jurisdictions:</h5>
          <ul>
            <% jurs = (jurs = group["jurisdictions"]).empty? ? "&lt;unspecified&gt;" : jurs.join(', ') %>
            <li>
              <%= jurs %>
            </li>
          </ul>
        </div>
        <div>
          <h5>Roles:</h5>
          <ul>
            <% roles = (roles = group["roles"]).empty? ? "&lt;unspecified&gt;" : roles.join(', ') %>
            <li>
              <%= roles %>
            </li>
          </ul>
        </div>
      <% end %>
      <% if entries.present? %>
        <h3>
          <%= "#{entries.count} Members Found" %>
        </h3>
      <% end %>
    </caption>
    <% if entries.present? %>
      <%= render :partial => "reports/admin/groups/entries", :locals => {:entries => entries, :directives => directives} %>
    <% end %>
  </table>
<% end %>
<p>
  <%= "Report Generated #{filtered} on: #{Time.now.utc} for #{current_user.display_name}" %>
</p>

