<% if current_user.role_requests && current_user.role_requests.unapproved.any? %>
  <h4>Awaiting Approval</h4>
  <ul class="pending_role_requests">
    <% current_user.role_requests.unapproved.each do |request| %>
      <li class="request"><%=h request.jurisdiction.name %>: <%=h request.role.name %></li>
    <% end %>
  </ul>
<% end %>


<h4>Request a Role</h4>

<%= form_for(@role_request) do |f| %>
  <%= f.error_messages %>

  <%= render 'form', :f => f %>
  
  <p>
    <%= f.submit 'Submit Request' %>
  </p>
<% end %>

