<h1>Request a Role</h1>

<% form_for(@role_request) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :jurisdiction_id,  "Jurisdiction" %><br/>
    <%= f.collection_select :jurisdiction_id, Jurisdiction.all, :id, :name, :include_blank => true %><br/>
  </p>

  <p>
    <%= f.label :role_id, "Role" %><br/>
    <%= f.collection_select :role_id, Role.user_roles, :id, :name, :include_blank => true %><br/>
  </p>

  <p>
    <%= f.submit 'Submit Request' %>
  </p>
<% end %>

<%= link_to 'Back', role_requests_path %>