<h2 class="name"><%=h @group.name %></h2>
<div><h5 class='group_header'>Jurisdictions</h5>
<ul class="group_jurisdictions">
  <% @group.jurisdictions.each do |jurisdiction| %>
    <li class="group_jurisdiction"><%= jurisdiction.name %><%= ", " unless jurisdiction == @group.jurisdictions.last %></li>
  <% end %>
</ul>
</div>
<div><h5 class='group_header'>Role</h5>
<ul class="group_roles">
  <% @group.roles.each do |role| %>
    <li class="group_role"><%= role.name %><%= ", " unless role == @group.roles.last %></li>
  <% end %>
</ul></div>
<div>
<h5 class='group_header'>Users</h5>
<ul class="group_users">
  <% @group.users.each do |user| %>
    <li class="group_user"><%= link_to user.display_name, user_profile_path(user) %><%= ", " unless user == @group.users.last %></li>
  <% end %>
</ul>
</div>
<div>
<h5 class='group_header'>Scope</h5>
<p class="group_scope"><%=h @group.scope %> <br/>
<%= s(@group.owner_jurisdiction.name,:class => "owner_jurisdiction") if @group.owner_jurisdiction %>
</p>
</div>

<div><h5 class='group_header'>Who's in this group?</h5>
<ul class='group_rcpts'>
  <% @group.current_users.sort{|x,y| x.last_name<=>y.last_name }.each do |user| %>
    <li class='group_rcpt'><%= link_to(user.display_name, user_profile_path(user))%><%= "," unless user==@group.current_users.last %></li>
  <% end %>
</ul>
</div>