<tr class="group">
  <td class="sortby"></td>
  <td>
    <%= link_to group.name, admin_group_path(group) %>
  </td>
  <td>
    <%= link_to group.owner.display_name, user_profile_path(group.owner) %>
  </td>
  <td>
    <%= group.scope %>
  </td>
  <td class="editdestroy">
    <%= link_to 'Edit', edit_admin_group_path(group)%> <%= link_to 'Destroy', {:action => "destroy", :id => group}, :method => :delete, :confirm => "Are you sure you want to delete this group?" %>
  </td>
</tr>