<%- form_tag(new_admin_group_path, :method => :get) do -%>
  <%= submit_tag "Create New Group" %><br /><br />
  <%- if @groups.empty? -%>
    You currently have no groups.
  <%- else -%>
    <table id="groups">
      <tr>
        <td class="sortby">Sort By:</td>
        <td><%= link_to "Name", "#{admin_groups_path}#{@page}#{@sort.blank? ? @reverse : ""}" %></td>
        <td><%= link_to "Owner", "#{admin_groups_path}#{@page}&sort=owner#{@sort == "owner" ? @reverse : ""}" %></td>
        <td><%= link_to "Scope", "#{admin_groups_path}#{@page}&sort=scope#{@sort == "scope" ? @reverse : ""}" %></td>
        <td class="editdestroy"></td>
      </tr>
      <%= render :partial => "group_summary", :collection => @groups, :as => :group -%>
    </table>
    <%= will_paginate @groups %>
  <%- end -%>

  <%= submit_tag "Create New Group" %>
<%- end -%>
