<%- unless signed_in? -%>
  <p><strong>Already have an account?</strong> <%= link_to 'Sign in', sign_in_path %> now.</p>
<%- end -%>


<% form_for @organization do |form| %>
  <fieldset>
    <legend>Organization Information</legend>
    <%= form.label :name, 'Organization Name' %>
    <%= form.text_field :name %><br/>
  
    <%= form.label :organization_type_id, 'Organization Type' %>
    <%= form.select :organization_type_id, OrganizationType.all.map{|o| [o.name, o.id]} %><br/>
  
    <%= form.label :distribution_email %>
    <%= form.text_field :distribution_email %><br/>
  
    <%= form.label :description, 'Description of Organization' %>
    <%= form.text_field :description %><br/>
   
    <%= form.label :phone %>
    <%= form.text_field :phone %><br/>
  
    <%= form.label :fax %>
    <%= form.text_field :fax %><br/>
  
    <%= form.label :street %>
    <%= form.text_field :street %><br/>
  
    <%= form.label :locality, 'City' %>
    <%= form.text_field :locality %><br/>
  
    <%= form.label :state %>
    <%= form.text_field :state %><br/>
  
    <%= form.label :postal_code, 'Zip' %>
    <%= form.text_field :postal_code %><br/>
  </fieldset>
  <br/>
  <%- unless signed_in? -%>
    <fieldset>
      <legend>Contact Person</legend>
      <%= form.label :contact_display_name, "Name" %>
      <%= form.text_field :contact_display_name %><br/>

      <%= form.label :contact_email, "Email Address" %>
      <%= form.text_field :contact_email %><br/>

      <%= form.label :contact_phone, "Phone Number" %>
      <%= form.text_field :contact_phone %><br/>
    </fieldset>
  <%- end -%>
  
  <fieldset>
    <legend>Counties</legend>
    <%= form.label :jurisdiction_ids, "Jurisdictions", :style => "display:none" %>
    <%= form.select :jurisdiction_ids, Jurisdiction.root.descendants.map{|m| [m.name, m.id]}, {}, :multiple => :multiple, :class => 'crossSelect' %>
  </fieldset>
  
  <%= form.submit 'Save' %>
<% end %>
