<h1>New user (* = Required field)</h1><br/>

<% form_for [:admin, @user] do |f| %>
<%= error_messages_for :admin, :header_message => "Please Try Again!", :message => "We had some problems starting the game:" %>
  <%= render 'new_user_form', :user => @user, :f => f %>
  <p>
    <%= f.submit "Save" %> or <%= link_to 'Cancel', root_path %>
  </p>
<% end %>

<%= error_messages_for("users")%>
