<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if protect_against_forgery? -%>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <%- end -%>
  <title>TXPhin: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'jquery.crossSelect','jquery.ui.autocomplete', '/javascripts/FCBKcomplete/style', 'master', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jQuery.crossSelect-0.5', 'jquery.templating', 'jquery.ui','FCBKcomplete/jquery.fcbkcomplete.js', 'jquery.livequery', 'application', 'alerts', 'profile', 'labeled-input', 'quicksilver', 'jquery.livefilter', 'recorder', 'rollcall', :cache => 'all' %>
  <!--[if IE 6]>
<script type="text/javascript">
	var IE6UPDATE_OPTIONS = {
		icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
	}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  
</head>
<body>
<div id="application">
  <div id="header">
    <div id="portal_toolbar">

      <h1><%= link_to 'TXPhin', root_path %></h1>
      <ul class="apps">
        <li<%= ' class="current"' if toolbar == 'han' %>><%= link_to s("HAN"), hud_path %></li>
        <li<%= ' class="current"' if toolbar == 'rollcall' %>><%= link_to s("Rollcall"), rollcall_path %></li>
  			<li<%= ' class="current"' if toolbar == 'faqs' %>><%= link_to s("FAQs"), faqs_path %></li>
  		</ul>
  		<ul class="actions">
      <%- if signed_in? -%>
          <li<%= tab_me dashboard_path %>><%= link_to s('My Dashboard'), dashboard_path %></li><li>&nbsp;|&nbsp;</li>
          <li<%= tab_me({:controller => "searches"}) %>><%= link_to(s('Find People'), search_path, :class => 'search') if signed_in? && current_user.has_non_public_role? %></li><li>&nbsp;|&nbsp;</li>
          <li<%= ' class="current"' if toolbar == 'groups' %>><%= link_to s('Manage Groups'), admin_groups_path if signed_in? && current_user.is_admin? %></li><li>&nbsp;|&nbsp;</li>
          <li<%= ' class="current"' if toolbar == 'accounts' %>><%= link_to s('My Account'), edit_user_profile_path(current_user), :class => '.edit_profile' %></li><li>&nbsp;|&nbsp;</li>
          <li<%= ' class="current"' if toolbar == 'admin' %>><%= link_to s('Admin'), admin_role_requests_path if current_user.is_admin? %></li><li>&nbsp;|&nbsp;</li>
          <li<%= tab_me about_path %>><%= link_to s('About TXPHIN'), about_path, :class => '.about' %></li><li>&nbsp;|&nbsp;</li>
          <li><%= link_to 'Sign Out', sign_out_path, :class => '.signout' %></li>
      <%- else -%>
          <li><%= link_to 'Sign In', sign_in_path %></li>
      <%- end -%>
      </ul>
    </div>
    <div id='app_toolbar'>

  		<%- if signed_in? -%>
  			<%= render :partial => "toolbars/#{toolbar}" %>
  		<%- else -%>
  			<ul>
  			  <li><%= link_to s('Sign Up'), new_user_path %></li>
  				<li><%= link_to s('About TXPHIN'), about_path %></li>
  			</ul>
  		<%- end -%>
    </div>
  </div>
  <div id='app_alert'>
		<div id='comingsoon'>
					<h1>This content is coming soon!</h1>
					OpenPHIN has reached 1.0, but we're not resting!  We're working hard to bring new functionality and applications to users of this groundbreaking software.  Check back often for new developments!
		  <a class='close'>Close</a>
		</div>
  </div>
  <div id="wrapper">

    <div class="flash">
      <%- [:notice, :instructions, :completed, :error].each do |type| -%>
        <%- if flash[type] -%>
          <p class="<%= type %>"><%= flash[type] %></p>
        <%- end -%>
      <%- end -%>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div> 
</div>
<div id='calendar_panel'>
   <img src='/images/calendar.png'/>
</div>
<div id='documents_panel'><span class="container"></span></div>
<div id='chat_panel'>
   <img src='/images/chat.png'/>
</div>
<div id='links_panel'>
  <ul>
		<li><%= link_to "EMResource", "http://www1.emsystem.com" %></li>
    <li><%= link_to "New England Journal of Medicine", "http://content.nejm.com" %></li>
    <li><%= link_to "Texas Disaster Volunteer Registry", "http://texasdisastervolunteerregistry.org" %></li>
    <li><%= link_to "TIMS", "https://txphin.dshs.state.tx.us/tims/user/login.cfm" %></li>
    <li><%= link_to "Traction", "https://trac.dshs.state.tx.us/" %></li>
    <li><%= link_to "TRAIN Texas", "https://tx.train.org/DesktopShell.aspx" %></li>
    <li><%= link_to "WebEOC", "https://txphin.dshs.state.tx.us/eoc7/" %></li>
	</ul>
</div>
<div id="footer">

  <ul id='comm_toolbar'>
    <li class="calendar"><%= link_to s("<b>Calendar</b>"), dashboard_path %></li>
    <li class="documents"><%= link_to s("<b>Documents</b>"), dashboard_path %></li>
    <li class="chat"><%= link_to s("<b>Chat</b>"), dashboard_path %></li>
    <li class='links'><%= link_to s("<b>Links</b>"), dashboard_path %></li>
  </ul>
  <div class='help'>Need help?  Email <%= link_to "phinadmin@dshs.state.tx.us", "mailto:phinadmin@dshs.state.tx.us" %></div>
	
</div>
</body>
</html>
