<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PhinPeople: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= stylesheet_link_tag 'jquery.ui.autocomplete' %>
  <%= javascript_include_tag 'jquery.min', 'jquery.dimensions.min', 'jquery.templating', 'jquery.ui.autocomplete.ext', 
    'jquery.ui.autocomplete', :cache => 'jquery' %>
</head>
<body>

<% form_tag :url => {:method => :post, :action => "person", :controller => :search} do |f| %>
  <%= text_field_with_auto_complete :phin_person, :person, :autocomplete => "on" %>
  <%= text_field_with_auto_complete :phin_person, :jurisdiction, :autocomplete => "on" %>
<% end %>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
