<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if protect_against_forgery? %>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <% end %>
  <title>OpenPHIN: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'jquery.crossSelect', '/javascripts/FCBKcomplete/style', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jQuery.crossSelect-0.5', 'jquery.templating', 'jquery.ui','FCBKcomplete/jquery.fcbkcomplete.js', 'application', 'alerts', :cache => 'jquery' %>
</head>
<body>

<div>
  <%- if signed_in? -%>
    <%= link_to 'Sign Out', sign_out_path, :class => '.signout' %>
  <%- end -%>
</div>

  <nav>
    <%= link_to 'Send an Alert', new_alert_path, :class => '.sendalert' if @is_alerter %>
    <%= link_to 'Request Role', new_role_request_path, :class => '.requestrole' if signed_in? %>
    <%= link_to 'View Role Requests', admin_role_requests_path, :class => '.viewrolerequests' if @is_admin %>
    <%= link_to 'View Alerts', alerts_path, :class => '.viewalerts' if @is_alerter %>
    <%= link_to 'Edit Profile', edit_user_profile_path(current_user), :class => '.edit_profile' if signed_in? %>
  </nav>

<%- [:notice, :success, :failure].each do |type| -%>
  <%- if flash[type] -%>
    <p class="<%= type %>"><%= flash[type] %></p>
  <%- end -%>
<%- end -%>

<%= yield %>

</body>
</html>
