<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if protect_against_forgery? %>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <% end %>
  <title>OpenPHIN: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'master','jquery.crossSelect','jquery.ui.autocomplete', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jQuery.crossSelect-0.5', 'jquery.templating', 'jquery.ui','FCBKcomplete/jquery.fcbkcomplete.js', 'jquery.livequery', 'application', 'alerts', 'profile', 'labeled-input', :cache => 'all' %>
</head>
<body>
<div id="wrapper">  
  <div id="header">
    <div id="current_user">
      <%- if signed_in? -%>
        <p class="info">Signed in as <%=h current_user.name %></p>
        <p><%= link_to 'My Account', edit_user_profile_path(current_user), :class => '.edit_profile' %> | <%= link_to 'Sign Out', sign_out_path, :class => '.signout' %></p>
      <%- end -%>
    </div>
    <h1><%= link_to 'OpenPHIN', root_path %></h1>
    <ul>
    <%- if signed_in? -%>
      <%= content_tag(:li, link_to('Send an Alert', new_alert_path, :class => '.sendalert')) if current_user.alerter? %>
      <%= content_tag(:li, link_to('Request Role', new_role_request_path, :class => '.requestrole')) %>
      <%- if current_user.is_admin? -%>
        <li><%= link_to 'View Role Requests', admin_role_requests_path, :class => '.viewrolerequests' %></li>
        <li><%= link_to 'Add a User', new_admin_user_path %></li>
      <%- end -%>
      <%= content_tag(:li, link_to('View Alerts', alerts_path, :class => '.viewalerts')) if current_user.alerter? %>
    <%- else -%>  
      <li><%= link_to 'Sign Up', '#' %></li>
      <li><%= link_to 'Register Your Organization', '#' %></li>
      <li><%= link_to 'About OpenPHIN', '#' %></li>
    <%- end -%>
    </ul>
  </div>
  <div id="content">
    <%- if signed_in? -%>
      <%= link_to 'My Dashboard', dashboard_path %>
      <%= link_to 'Send an Alert', new_alert_path, :class => '.sendalert' if current_user.alerter? %>
      <%= link_to 'Request Role', new_role_request_path, :class => '.requestrole' %>
      <%- if current_user.is_admin? -%>
        <%= link_to 'View Role Requests', admin_role_requests_path, :class => '.viewrolerequests' %>
        <%= link_to 'Add a User', new_admin_user_path %>
      <%- end -%>
      <%= link_to 'View Alerts', alerts_path, :class => '.viewalerts' if current_user.alerter? %>
      <%= link_to 'Edit Profile', edit_user_profile_path(current_user), :class => '.edit_profile' %>
    <%- end -%>
    
    <%- if signed_in? && current_user.has_non_public_role? -%>
      <div id="search">
        <% form_tag search_path, :method => :get do %>
          <%= label_tag :q, 'Search' %>
          <%= text_field_tag :q %>
          <%= submit_tag 'Go' %>
        <% end %>
      </div>
    <%- end -%>
    
    <%- [:notice, :success, :failure].each do |type| -%>
      <%- if flash[type] -%>
        <p class="<%= type %>"><%= flash[type] %></p>
      <%- end -%>
    <%- end -%>
    
    <%= yield %>
  </div>
  
  <div id="footer">
    <p>Copyright &copy; 2009 OpenPHIN - All Rights Reserved</p>
  </div>
</div>
</body>
</html>
