<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if protect_against_forgery? -%>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <%- end -%>
  <title>TXPhin: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <% css_list = (defined?($expansion_list)) ? $expansion_list.dup : [] %>
  <% css_list.concat [ 'master' ] %>
  <% css_list.push({:cache => 'all'}) %>
  <%= stylesheet_link_tag(*css_list) %>

  <% js_list = [] %>
  <% js_list.concat [ 'jquery', 'application', 'alerts'] %>
  <% js_list.push({:cache => 'all'}) %>
  <%= javascript_include_tag(*js_list) %>
  <!--[if IE 6]>
<script type="text/javascript">
	var IE6UPDATE_OPTIONS = {
		icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
	}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->

</head>
<body>
<div id="application">
  <div id="header">
    <div id="portal_toolbar">

      <%= link_to '<img src="' + domain_config['logo_image'] + '">', root_path %>
      <ul class="apps">
        
      </ul>
      <ul class="actions">
      <%- if signed_in? -%>
          <li><%= link_to 'Sign Out', sign_out_path, :class => '.signout' %></li>
      <%- else -%>
          <li><%= link_to 'Sign In', sign_in_path %></li>
      <%- end -%>
      </ul>
    </div>
    <div id='app_toolbar'>

  		<%- if signed_in? -%>
  			
  		<%- else -%>
  			<ul>
  			  <li><%= link_to s('Sign Up'), new_user_path %></li>
  				<li><%= link_to s(domain_config['about_button_label']), domain_config['about_button_url'] %></li>
  			</ul>
  		<%- end -%>
    </div>
  </div>
  <div id='app_alert'>
		<div id='comingsoon'>
					<h1>OpenPHIN 1.0 is retired</h1>
					Go to OpenPHIN 2.0 here: <%= link_to 'OpenPHIN 2.0', root_path %>
		  <a class='close'>Close</a>
		</div>
  </div>
  <div id="wrapper">

    <div class="flash">
      <%- [:notice, :instructions, :completed, :error, :failure].each do |type| -%>
        <%- if flash[type] -%>
          <p class="<%= type %>"><%= flash[type] %></p>
        <%- end -%>
      <%- end -%>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div> 
</div>

<div id="footer">
  <div>
    <ul id='comm_toolbar'>
    </ul>
  </div>
  <div id="newphin" style="padding-top: 2px; margin-left: 42%;">
    <%= link_to raw('<img style="border: none;" src="/assets/newphin.gif">'), root_path %>
  </div>
  <div class='help'>Need help?  Email <%= link_to domain_config['help_email'], "mailto:" + domain_config['help_email'] %></div>
  
	
</div>
</body>
</html>
