<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if protect_against_forgery? -%>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <%- end -%>
  <title>TXPhin: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'jquery.crossSelect','jquery.ui.autocomplete', '/javascripts/FCBKcomplete/style', 'master', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jQuery.crossSelect-0.5', 'jquery.templating', 'jquery.ui','FCBKcomplete/jquery.fcbkcomplete.js', 'jquery.livequery', 'application', 'alerts', 'profile', 'labeled-input', 'quicksilver', 'jquery.livefilter', 'recorder', 'rollcall', :cache => 'all' %>
  <!--[if IE 6]>
<script type="text/javascript">
	var IE6UPDATE_OPTIONS = {
		icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
	}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>

</head>
<body><%= yield %></body>
</html>
