<head>
  <Title>Ext Dashboard</Title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <%= javascript_include_tag 'lib/dominoes-1.0-rc2.min.js'%>
  <%= javascript_tag "var FORM_AUTH_TOKEN = '#{form_authenticity_token}';" %>
  <%# <%= javascript_include_tag 'jquery', 'ext/adapter/jquery/ext-jquery-adapter-debug', 'ext/ext-all-debug', 'dashboard/application', 'dashboard/script_manager', :cache => 'all'%>
  <%# <%= javascript_include_tag '/dashboard/menu', 'dashboard/index', :cache => 'all' %>
  <%# begin include js for openphin plugins %>
  <%# <% js_list = (defined?($expansion_list)) ? $expansion_list.dup : [] %>
  <%# <% js_list.push({:cache => 'all'}) %>
  <%# <%= javascript_include_tag(*js_list) %>
  <%# end include js for openphin plugins %>

  <%# <%= stylesheet_link_tag 'resources/css/ext-all', 'resources/css/xtheme-gray', 'redesign/ext_extensions', 'redesign/master', 'redesign/dashboard', 'redesign/han', 'redesign/admin', 'redesign/profile', 'redesign/forum', :cache => true  %>

  <%# begin include stylesheets for openphin plugins %>
  <% css_list = (defined?($expansion_list)) ? $expansion_list.dup : [] %>
  <% css_list.push({:cache => 'plugins'}) %>
  <%= stylesheet_link_tag(*css_list) %>
  <%# end include stylesheets for openphin plugins %>
  
  <%# Experimental loading of resources, on the fly %>
  <%#%><%= stylesheet_link_tag 'redesign/preloadMask.css', :cache => 'preloadMask' %>
  <%#%><script>
    dominoes.rule('jquery', '/javascripts/jquery.js');
    dominoes.rule('ext', '(( $css(/stylesheets/resources/css/ext-all.css) $css(/stylesheets/resources/css/ext3-compat.css) )) /javascripts/ext/<%= Rails.env == "production" ? "ext-all.js" : "ext-all-debug.js" %> > /javascripts/ext/ext3-core-compat.js /javascripts/ext/ext3-compat.js /javascripts/ext_extensions/overrides.js');

    dominoes.rule('phinCSS', '$css(/stylesheets/redesign/ext_extensions.css) $css(/stylesheets/redesign/master.css) $css(/stylesheets/redesign/dashboard.css) $css(/stylesheets/redesign/admin.css) $css(/stylesheets/redesign/forum.css) $css(/stylesheets/redesign/documents.css)');
    dominoes.rule('phinInitialLoad', '(( phinCSS )) /javascripts/dashboard/application.js /javascripts/dashboard/script_manager.js /javascripts/dashboard/index.js /dashboard/menu.js /javascripts/ext_extensions/validations.js');
    dominoes.rule('phinPlugins', '<%=  javascript_include_domino( defined?($expansion_list) ? $expansion_list.dup : [] ) %>');
    dominoes({
        chain: 'jquery >| preExtMessage > ext > prePhinMessage > phinInitialLoad > phinPlugins >| initView',
        preExtMessage: function(){
            $('#loading-message').html('Loading Ext...');
        },
        prePhinMessage: function(){
            Ext.get('loading-message').update('Loading PHIN...');
        },
        initView: function(){
            window.Application.path = '<%= @path || session[:path] %>';
            var loading = Ext.get('loading');
            var loadingMask = Ext.get('loading-mask');
            setTimeout(function(){
                loadingMask.setOpacity(0.9);
                loading.fadeOut({ duration: 400, remove: true });
                loadingMask.fadeOut({ duration: 400, remove: true });
            }, 200);
            Ext.EventManager.fireDocReady(); // have to manually fire Ext's docReady event because we're not loading ext in the traditional way.
        }
    });
  </script>
</head>
<body>
    <div id="hiddenflash">
      <%- if flash[:error] -%>
        <p class="error flash"><%= flash[:error] %></p>
      <%- end -%>
    </div>

    <div id="loading-mask"></div>
    <div id="loading">
        <span id="loading-message">Loading jQuery...</span>
    </div> <%#%>
  <%= yield %>
</body>
