<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if protect_against_forgery? -%>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <%- end -%>
  <title>TXPhin: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'jquery.crossSelect','jquery.ui.autocomplete', 'master', 'redesign/bootstrap.css', :cache => true %>
  <%= javascript_include_tag 'jquery', 'application', :cache => 'none' %>

</head>
<body>
<div id="application">
  <div id="header">


    <div class="topbar-wrapper" style="z-index: 5;">
      <div class="topbar" data-dropdown="dropdown">
        <div class="topbar-inner">
          <div class="container">
            <%= link_to raw(%{<img src="#{domain_config['logo_image']}">}), root_path %>
            <ul class="nav secondary-nav">
              <li><%= link_to s(domain_config['about_button_label']), domain_config['about_button_url'] %></li><li>&nbsp;|&nbsp;</li>
              <li><%= link_to s('Sign Up'), new_user_path %></li><li>&nbsp;|&nbsp;</li>
              <li><%= link_to s('Sign In'), sign_in_path %></li>
            </ul>
          </div>
        </div><!-- /topbar-inner -->
      </div><!-- /topbar -->
    </div>



    <!-- <div id="portal_toolbar">
      <%= link_to '<img src="' + domain_config['logo_image'] + '">', root_path %>
      <ul class="actions">
        <li><%= link_to s(domain_config['about_button_label']), domain_config['about_button_url'] %></li><li>&nbsp;|&nbsp;</li>
        <li><%= link_to s('Sign Up'), new_user_path %></li><li>&nbsp;|&nbsp;</li>
        <li><%= link_to s('Sign In'), sign_in_path %></li>
      </ul>
    </div> -->
  </div>
  <div id="wrapper">
    <div id="content">
      <div class="flash">
        <% flash.each do |key, value| -%>
          <div class="alert-message block-message <%= key %>"><%= value %></div>
        <% end -%>
      </div>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
