<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%- if protect_against_forgery? -%>
    <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
  <%- end -%>
  <title>TXPhin: <%= controller.controller_name %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag 'jquery.crossSelect','jquery.ui.autocomplete', '/javascripts/FCBKcomplete/style', 'master', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jQuery.crossSelect-0.5', 'jquery.templating', 'jquery.ui','FCBKcomplete/jquery.fcbkcomplete.js', 'jquery.livequery', 'application', 'alerts', 'profile', 'labeled-input', 'quicksilver', 'jquery.livefilter', 'recorder', :cache => 'all' %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="current_user">
      <%- if signed_in? -%>
        <p class="info">Signed in as <strong><%=h current_user.name %></strong></p>
        <p><%= link_to 'My Dashboard', dashboard_path %> | <%= link_to 'My Account', edit_user_profile_path(current_user), :class => '.edit_profile' %> | <%= link_to 'About TXPHIN', about_path, :class => '.about' %> | <%= link_to 'Sign Out', sign_out_path, :class => '.signout' %></p>
      <%- else -%>
        <p><%= link_to 'Sign In', sign_in_path %></p>
      <%- end -%>
    </div>
    <h1><%= link_to 'TXPhin', root_path %></h1>
    <ul>
    <%- if signed_in? -%>
      <%= content_tag(:li, link_to('Send an Alert', new_alert_path, :class => '.sendalert')) if current_user.alerter? %>
      <%- if current_user.is_admin? -%>
        <li><%= link_to 'View Pending Requests', admin_pending_requests_path, :class => '.viewpendingrequests' %></li>
        <li><%= link_to 'Add a User', new_admin_user_path %></li>
      <%- end -%>
      <%= content_tag(:li, link_to('View Alerts', alerts_path, :class => '.viewalerts')) if current_user.alerter? %>
      <%= content_tag(:li, link_to('Find People', search_path, :class => 'search')) if signed_in? && current_user.has_non_public_role? %>
    <%- else -%>
      <li><%= link_to 'Sign Up', new_user_path %></li>
      <li><%= link_to 'Register Your Organization', new_organization_path %></li>
          <li><%= link_to 'About TXPHIN', about_path %></li>
    <%- end -%>
    </ul>
  </div>
  <div class="flash">
    <%- [:notice, :instructions, :completed, :error].each do |type| -%>
      <%- if flash[type] -%>
        <p class="<%= type %>"><%= flash[type] %></p><br/>
      <%- end -%>
    <%- end -%>
  </div>

  <div id="content">    
    <%= yield %>
  </div>
  
  <div id="footer">
  </div>
</div>
</body>
</html>
